scripts/flows-10-optimized.json
[
    {
        "id": "13bd4de3e948650b",
        "type": "group",
        "z": "ebbebe04a01eca8f",
        "name": "parse status firebase only (optimized)",
        "style": {
            "stroke": "#1d4ed8",
            "fill": "#dbeafe",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9a75e8199c45dcaf",
            "d0668ca0c9c32863",
            "9f4a45d7d64aa803",
            "995687d4f6f01c93",
            "ad390e48d32d734c",
            "1c1cbdabaa9e70e3",
            "830eba901318d5e0",
            "2075ee5318c5ce95",
            "546b401a420b4405",
            "ps-link-in"
        ],
        "x": 1044,
        "y": 819,
        "w": 1607,
        "h": 122
    },
    {
        "id": "9a75e8199c45dcaf",
        "type": "debug",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "debug 571",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1470,
        "y": 860,
        "wires": []
    },
    {
        "id": "d0668ca0c9c32863",
        "type": "switch",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "chk status [16]",
        "property": "payload[3]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 900,
        "wires": [
            [
                "ad390e48d32d734c",
                "9a75e8199c45dcaf"
            ]
        ]
    },
    {
        "id": "9f4a45d7d64aa803",
        "type": "function",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "parse status",
        "func": "function toByteArray(value) {\n    if (Buffer.isBuffer(value)) {\n        return Array.from(value);\n    }\n    if (Array.isArray(value)) {\n        return value.slice();\n    }\n    return null;\n}\n\nfunction moduleMatches(left, right) {\n    const a = String(left || '').trim();\n    const b = String(right || '').trim();\n    if (!a || !b) return false;\n    if (a === b) return true;\n    return ('1000' + a) === b || a === b.replace(/^1000/, '');\n}\n\nfunction getChargerSN(bytes) {\n    return (\n        ((bytes[0] & 0xFF) << 24) |\n        ((bytes[1] & 0xFF) << 16) |\n        ((bytes[2] & 0xFF) << 8) |\n        (bytes[3] & 0xFF)\n    ) >>> 0;\n}\n\nfunction getChargingCurrent(slot) {\n    return Number(slot?.chargingCurrent ?? slot?.chargeCurrent ?? 0);\n}\n\nfunction inferTowerType(slotCount) {\n    const normalizedCount = Number(slotCount || 0);\n    if (normalizedCount === 3) return 'CT3';\n    if (normalizedCount === 4) return 'CT4';\n    if (normalizedCount === 8) return 'CT8';\n    if (normalizedCount === 12) return 'CT12';\n    if (normalizedCount === 48) return 'CK48';\n    return '';\n}\n\nfunction inferHoleCount(bytes, data) {\n    const payloadSize = bytes.length - 5;\n    if (payloadSize === 192 && data[1] === 255 && data[2] === 255) {\n        return data[66] === 5 ? 8 : 4;\n    }\n\n    const candidates = [2, 5, 6, 8, 4, 3, 1];\n    for (const holeCount of candidates) {\n        const blockSize = 6 + (15 * holeCount);\n        if (payloadSize > 0 && payloadSize % blockSize === 0) {\n            return holeCount;\n        }\n    }\n\n    return 0;\n}\n\nfunction parsePinboards(bytes) {\n    const data = bytes.slice(4, -1);\n    const pinboards = [];\n\n    if (data.length < 6) {\n        return pinboards;\n    }\n\n    const useHeaderHoleCount = data[1] !== 0 && data[1] !== 255 && data[2] !== 11;\n    const fallbackHoleCount = useHeaderHoleCount ? 0 : inferHoleCount(bytes, data);\n\n    for (let offset = 0; offset + 6 <= data.length;) {\n        const header = data.slice(offset, offset + 6);\n        const holeCount = useHeaderHoleCount ? Number(header[1] || 0) : fallbackHoleCount;\n\n        if (holeCount <= 0) {\n            if (useHeaderHoleCount) {\n                node.warn('Pinboard at offset ' + offset + ' reported invalid hole count');\n            }\n            break;\n        }\n\n        const blockSize = 6 + (holeCount * 15);\n        if (offset + blockSize > data.length) {\n            node.warn('Pinboard at offset ' + offset + ' is incomplete');\n            break;\n        }\n\n        const slots = [];\n        for (let index = 0; index < holeCount; index++) {\n            const segmentOffset = offset + 6 + (index * 15);\n            const segment = data.slice(segmentOffset, segmentOffset + 15);\n            if (segment.length < 15) {\n                node.warn('Pinboard ' + header[0] + ' slot ' + (index + 1) + ' is incomplete');\n                continue;\n            }\n            slots.push({\n                segment,\n                relativePosition: index + 1\n            });\n        }\n\n        pinboards.push({\n            index: Number(header[0] || (pinboards.length + 1)),\n            holeCount,\n            temperature: Number(header[3] || 0),\n            softwareVersion: Number(header[4] || 0),\n            hardwareVersion: Number(header[5] || 0),\n            slots\n        });\n\n        offset += blockSize;\n        if (!useHeaderHoleCount && fallbackHoleCount <= 0) {\n            break;\n        }\n    }\n\n    return pinboards;\n}\n\nfunction orderModulesForPinboards(modules) {\n    return modules\n        .slice()\n        .map((module, fallbackIndex) => {\n            const id = String(module?.id || '');\n            const match = id.match(/m(\\d+)$/i);\n            return {\n                module,\n                fallbackIndex,\n                order: match ? Number(match[1]) : (fallbackIndex + 1)\n            };\n        })\n        .sort((left, right) => left.order - right.order || left.fallbackIndex - right.fallbackIndex)\n        .map((entry) => entry.module);\n}\n\nfunction shouldUseRelativePositions(module, holeCount, splitModules) {\n    if (!splitModules) {\n        return false;\n    }\n\n    const slots = Array.isArray(module?.slots) ? module.slots : [];\n    if (slots.length === 0) {\n        return true;\n    }\n\n    let maxPosition = 0;\n    for (const slot of slots) {\n        const position = Number(slot?.position || 0);\n        if (position > maxPosition) {\n            maxPosition = position;\n        }\n    }\n\n    return maxPosition === 0 || maxPosition <= holeCount;\n}\n\nfunction buildSlotLookup(slots, useAbsolutePosition) {\n    const lookup = new Map();\n    slots.forEach((slot) => {\n        const key = useAbsolutePosition\n            ? Number(slot?.absolutePosition ?? slot?.position ?? 0)\n            : Number(slot?.position ?? 0);\n        if (key > 0) {\n            lookup.set(key, slot);\n        }\n    });\n    return lookup;\n}\n\nfunction buildSlot(segment, existing, relativePosition, useRelativePositions) {\n    const absolutePosition = Number(segment[0] || 0);\n    const chargingVoltage = segment[11];\n    const chargingCurrent = segment[12];\n\n    return {\n        position: useRelativePositions ? relativePosition : absolutePosition,\n        absolutePosition,\n        status: segment[1],\n        dischargeCurrent: segment[2],\n        cellVoltage: segment[3],\n        areaCode: segment[4],\n        sn: getChargerSN(segment.slice(5, 9)),\n        batteryLevel: segment[9],\n        temperature: segment[10],\n        chargingVoltage,\n        chargingCurrent,\n        softwareVersion: segment[13],\n        holeDetection: segment[14],\n        lock: Boolean(existing?.lock),\n        lockReason: existing?.lockReason || '',\n        rented: false,\n        cycle: Number(existing?.cycle || 0)\n    };\n}\n\nfunction applyModuleStatus(module, slots, timestamp) {\n    let total = 0;\n    let full = 0;\n    let empty = 0;\n    let slotCount = 0;\n    let charging = 0;\n    let lock = 0;\n\n    slots.forEach((slot) => {\n        if (slot.status === 1) {\n            total++;\n            if (slot.batteryLevel >= 80) {\n                full++;\n            } else {\n                empty++;\n            }\n        } else if (slot.status === 0) {\n            slotCount++;\n        }\n\n        if (getChargingCurrent(slot) > 0) {\n            charging++;\n        }\n\n        if (slot.lock) {\n            lock++;\n        }\n    });\n\n    module.slots = slots;\n    module.lastUpdated = timestamp;\n    module.total = total;\n    module.full = full;\n    module.empty = empty;\n    module.slot = slotCount;\n    module.charging = charging;\n    module.lock = lock;\n}\n\nfunction applyModuleHeader(module, pinboard) {\n    const nextTemperature = Number(pinboard?.temperature);\n    if (Number.isFinite(nextTemperature)) {\n        module.temperature = nextTemperature;\n    }\n\n    const nextSoftwareVersion = Number(pinboard?.softwareVersion);\n    if (\n        Number.isFinite(nextSoftwareVersion) &&\n        nextSoftwareVersion > 0 &&\n        nextSoftwareVersion !== Number(module?.softwareVersion || 0)\n    ) {\n        module.softwareVersion = nextSoftwareVersion;\n    }\n\n    const nextHardwareVersion = Number(pinboard?.hardwareVersion);\n    if (\n        Number.isFinite(nextHardwareVersion) &&\n        nextHardwareVersion > 0 &&\n        nextHardwareVersion !== Number(module?.hardwareVersion || 0)\n    ) {\n        module.hardwareVersion = nextHardwareVersion;\n    }\n}\n\nfunction recalculateStationTotals(targetStation, modules) {\n    let total = 0;\n    let full = 0;\n    let empty = 0;\n    let slot = 0;\n    let charging = 0;\n\n    modules.forEach((mod) => {\n        total += Number(mod?.total || 0);\n        full += Number(mod?.full || 0);\n        empty += Number(mod?.empty || 0);\n        slot += Number(mod?.slot || 0);\n        charging += Number(mod?.charging || 0);\n    });\n\n    targetStation.total = total;\n    targetStation.full = full;\n    targetStation.empty = empty;\n    targetStation.slot = slot;\n    targetStation.charging = charging;\n}\n\nconst bytes = toByteArray(msg.payload);\nif (!bytes) {\n    node.error('Payload must be a Buffer or byte array', msg);\n    return null;\n}\n\nconst kioskDoc = msg.kioskDoc;\nif (!kioskDoc) {\n    node.error('Missing msg.kioskDoc for status parse', msg);\n    return null;\n}\n\nconst targetStation = JSON.parse(JSON.stringify(kioskDoc));\nconst targetModuleId = String(msg._statusModuleId || msg.module || '').trim();\nif (!targetModuleId) {\n    node.error('No module ID (msg.module) provided', msg);\n    return null;\n}\n\nconst modules = Array.isArray(targetStation.modules) ? targetStation.modules : [];\nconst moduleObj = modules.find((mod) => moduleMatches(mod?.id, targetModuleId));\nif (!moduleObj) {\n    node.error('Module ' + targetModuleId + ' not found in kiosk ' + (targetStation.stationid || '(unknown)'), msg);\n    return null;\n}\n\nconst timestamp = new Date().toISOString();\nconst pinboards = parsePinboards(bytes);\nif (pinboards.length === 0) {\n    node.error('Unable to parse pinboard data from status payload', msg);\n    return null;\n}\n\nconst totalSlots = pinboards.reduce((sum, pinboard) => sum + pinboard.slots.length, 0);\nconst inferredType = inferTowerType(totalSlots);\ntargetStation.hardware = targetStation.hardware && typeof targetStation.hardware === 'object'\n    ? targetStation.hardware\n    : {};\nif (inferredType && !targetStation.hardware.type) {\n    targetStation.hardware.type = inferredType;\n}\n\nconst activeModules = modules.filter((module) => !String(module?.id || '').startsWith('disabled'));\nconst stationModules = activeModules.length > 0 ? activeModules : modules;\nconst orderedModules = orderModulesForPinboards(stationModules);\nconst splitModules = pinboards.length > 1 &&\n    orderedModules.length === pinboards.length &&\n    (inferredType === 'CT4' || inferredType === 'CT8' || inferredType === 'CT12');\n\nif (splitModules) {\n    pinboards.forEach((pinboard, moduleIndex) => {\n        const currentModule = orderedModules[moduleIndex];\n        const existingSlots = Array.isArray(currentModule?.slots) ? currentModule.slots : [];\n        const useRelativePositions = shouldUseRelativePositions(currentModule, pinboard.holeCount, splitModules);\n        const existingSlotLookup = buildSlotLookup(existingSlots, !useRelativePositions);\n        const parsedSlots = pinboard.slots.map(({ segment, relativePosition }) => {\n            const lookupKey = useRelativePositions ? relativePosition : Number(segment[0] || 0);\n            return buildSlot(\n                segment,\n                existingSlotLookup.get(lookupKey),\n                relativePosition,\n                useRelativePositions\n            );\n        });\n        applyModuleHeader(currentModule, pinboard);\n        applyModuleStatus(currentModule, parsedSlots, timestamp);\n    });\n} else {\n    const existingSlots = Array.isArray(moduleObj.slots) ? moduleObj.slots : [];\n    const existingSlotLookup = buildSlotLookup(existingSlots, false);\n    const parsedSlots = [];\n\n    pinboards.forEach((pinboard) => {\n        pinboard.slots.forEach(({ segment, relativePosition }) => {\n            const absolutePosition = Number(segment[0] || 0);\n            parsedSlots.push(\n                buildSlot(\n                    segment,\n                    existingSlotLookup.get(absolutePosition),\n                    relativePosition,\n                    false\n                )\n            );\n        });\n    });\n\n    if (pinboards[0]) {\n        applyModuleHeader(moduleObj, pinboards[0]);\n    }\n    applyModuleStatus(moduleObj, parsedSlots, timestamp);\n}\n\nrecalculateStationTotals(targetStation, stationModules);\n\nconst updatedSlotCount = splitModules\n    ? orderedModules.reduce((sum, currentModule) => sum + (Array.isArray(currentModule?.slots) ? currentModule.slots.length : 0), 0)\n    : (Array.isArray(moduleObj?.slots) ? moduleObj.slots.length : 0);\n\nif (!kioskDoc?.provisionid) {\n    node.error('No provisionid on msg.kioskDoc', msg);\n    return null;\n}\n\nconst configuredPower = Number(targetStation.hardware?.power);\nconst fullThreshold = Number.isFinite(configuredPower) ? configuredPower : 80;\nconst chargerCapacityMah = 8000;\nconst currentUnitToMilliamps = 100;\n\nlet count = 0;\nlet slotscount = 0;\nlet lockcount = 0;\n\nmodules.forEach((mod) => {\n    const slots = Array.isArray(mod?.slots) ? mod.slots : [];\n    let moduleLockCount = 0;\n    let chargingSlots = 0;\n    let rawChargingCurrentTotal = 0;\n\n    slotscount += slots.length;\n\n    slots.forEach((slot) => {\n        const chargingCurrent = Number(slot?.chargingCurrent ?? slot?.chargeCurrent ?? 0);\n\n        if (slot?.lock) {\n            moduleLockCount++;\n            lockcount++;\n        }\n\n        if (\n            slot &&\n            slot.status === 1 &&\n            slot.sn &&\n            slot.sn !== 0\n        ) {\n            if (chargingCurrent > 0) {\n                chargingSlots++;\n                rawChargingCurrentTotal += chargingCurrent;\n            }\n\n            if (\n                typeof slot.batteryLevel === 'number' &&\n                slot.batteryLevel >= fullThreshold &&\n                !slot.lock\n            ) {\n                count++;\n            }\n        }\n    });\n\n    mod.lock = moduleLockCount;\n\n    const avgChargingCurrent = chargingSlots > 0\n        ? rawChargingCurrentTotal / chargingSlots\n        : 0;\n    const avgChargingCurrentmA = avgChargingCurrent * currentUnitToMilliamps;\n    const estimatedPctPerMinute = avgChargingCurrentmA > 0\n        ? avgChargingCurrentmA / (chargerCapacityMah * 0.6)\n        : null;\n\n    mod.chargeMetrics = {\n        method: 'current_estimate',\n        batteryCapacityMah: chargerCapacityMah,\n        currentUnitToMilliamps,\n        chargingSlots,\n        avgChargingCurrent: Number(avgChargingCurrent.toFixed(2)),\n        avgChargingCurrentmA: Number(avgChargingCurrentmA.toFixed(0)),\n        estimatedPctPerMinute: estimatedPctPerMinute === null\n            ? null\n            : Number(estimatedPctPerMinute.toFixed(3)),\n        updatedAt: timestamp\n    };\n});\n\nmsg.payload = {\n    path: 'kiosks/' + kioskDoc.provisionid,\n    content: {\n        modules,\n        hardware: targetStation.hardware || kioskDoc.hardware || {},\n        total: Number(targetStation.total || 0),\n        full: Number(targetStation.full || 0),\n        empty: Number(targetStation.empty || 0),\n        slot: Number(targetStation.slot || 0),\n        charging: Number(targetStation.charging || 0),\n        count,\n        slotscount,\n        lockcount,\n        zerocount: Number(kioskDoc.zerocount || 0),\n        chargers: count === 0 ? 'soldout' : count,\n        lastUpdate: timestamp,\n        timestamp\n    }\n};\n\nnode.warn(\n    'Firebase-only status update for station ' +\n    (targetStation.stationid || '(unknown)') +\n    ' | source module ' +\n    targetModuleId +\n    ' | pinboards: ' +\n    pinboards.length +\n    ' | slots: ' +\n    updatedSlotCount +\n    ' | type: ' +\n    (inferredType || 'unknown') +\n    ' | available: ' +\n    count\n);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2055,
        "y": 900,
        "wires": [
            [
                "2075ee5318c5ce95",
                "995687d4f6f01c93"
            ]
        ]
    },
    {
        "id": "995687d4f6f01c93",
        "type": "debug",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "debug 572",
        "active": false,
        "tosidebar": true,
        "complete": "true",
        "x": 2270,
        "y": 860,
        "wires": []
    },
    {
        "id": "ad390e48d32d734c",
        "type": "function",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "Prepare Kiosk Lookup",
        "func": "function normalizeStationId(value) {\n    return String(value || '').trim();\n}\n\nfunction parseTopic(topic) {\n    const parts = String(topic || '').split('/').filter(Boolean);\n    return {\n        stationid: normalizeStationId(parts[0] || ''),\n        moduleid: String(parts[1] || '').trim()\n    };\n}\n\nconst parsed = parseTopic(msg.topic);\nconst stationid = normalizeStationId(msg.id || msg.stationid || parsed.stationid || '');\nconst moduleid = String(msg.module || msg.moduleid || parsed.moduleid || '').trim();\n\nif (!stationid && !moduleid) {\n    node.error('Status update is missing stationid/id and module', msg);\n    return null;\n}\n\nmsg._statusRawPayload = msg.payload;\nmsg._statusStationId = stationid;\nmsg._statusModuleId = moduleid;\n\nmsg.payload = stationid\n    ? {\n        path: 'kiosks',\n        query: [{ fieldPath: 'stationid', opStr: '==', value: stationid }]\n    }\n    : {\n        path: 'kiosks',\n        query: []\n    };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1455,
        "y": 900,
        "wires": [
            [
                "1c1cbdabaa9e70e3"
            ]
        ]
    },
    {
        "id": "1c1cbdabaa9e70e3",
        "type": "google-cloud-firestore",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Query kiosk doc",
        "projectId": "node-red-alerts",
        "mode": "query",
        "x": 1655,
        "y": 900,
        "wires": [
            [
                "830eba901318d5e0"
            ]
        ]
    },
    {
        "id": "830eba901318d5e0",
        "type": "function",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "Resolve Kiosk Doc",
        "func": "function normalizeStationId(value) {\n    return String(value || '').trim();\n}\n\nfunction moduleMatches(left, right) {\n    const a = String(left || '').trim();\n    const b = String(right || '').trim();\n    if (!a || !b) return false;\n    if (a === b) return true;\n    return ('1000' + a) === b || a === b.replace(/^1000/, '');\n}\n\nconst docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst stationid = normalizeStationId(msg._statusStationId || '');\nconst moduleid = String(msg._statusModuleId || '').trim();\n\nlet matched = stationid\n    ? docs.find((doc) => normalizeStationId(doc?.stationid || '') === stationid) || null\n    : null;\n\nif (!matched && moduleid) {\n    matched = docs.find((doc) => {\n        const modules = Array.isArray(doc?.modules) ? doc.modules : [];\n        return modules.some((mod) => moduleMatches(mod?.id, moduleid));\n    }) || null;\n}\n\nif (!matched) {\n    node.error(\n        'No Firestore kiosk doc found for stationid ' +\n        (stationid || '(none)') +\n        ' module ' +\n        (moduleid || '(none)'),\n        msg\n    );\n    return null;\n}\n\nmsg.kioskDoc = JSON.parse(JSON.stringify(matched));\nmsg.stationid = matched.stationid || stationid;\nmsg.payload = msg._statusRawPayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1855,
        "y": 900,
        "wires": [
            [
                "9f4a45d7d64aa803"
            ]
        ]
    },
    {
        "id": "2075ee5318c5ce95",
        "type": "google-cloud-firestore",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Update kiosk in Firebase",
        "projectId": "node-red-alerts",
        "mode": "update",
        "x": 2305,
        "y": 900,
        "wires": [
            [
                "546b401a420b4405"
            ]
        ]
    },
    {
        "id": "546b401a420b4405",
        "type": "debug",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "Firebase write result",
        "active": false,
        "tosidebar": true,
        "complete": "true",
        "x": 2505,
        "y": 860,
        "wires": []
    },
    {
        "id": "ps-link-in",
        "type": "link in",
        "z": "ebbebe04a01eca8f",
        "g": "13bd4de3e948650b",
        "name": "Status input",
        "links": [
            "99258aa5b0c0835c"
        ],
        "x": 1085,
        "y": 900,
        "wires": [
            [
                "d0668ca0c9c32863"
            ]
        ]
    }
]
