scripts/flows-12-rental-save-optimized.json
[
    {
        "id": "34eaacc20fdb7b09",
        "type": "group",
        "z": "ebbebe04a01eca8f",
        "g": "312070b4f9b07564",
        "name": "vend charger (rental save optimized)",
        "style": {
            "stroke": "#000000",
            "fill": "#bfbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "87aa3a26f91fb5be",
            "117663ecd22e028b",
            "61e90896601d5e59",
            "8b9fe8b7500de432",
            "64174602114d9e2c",
            "vr-kiosk-query",
            "vr-kiosk-resolve",
            "vr-rental-build",
            "4d8bfe2028933124",
            "58d668e2dc2cdd96",
            "cb486a0812c5d8fd",
            "758109425e2655b3"
        ],
        "x": 1074,
        "y": 2099,
        "w": 1112,
        "h": 162
    },
    {
        "id": "87aa3a26f91fb5be",
        "type": "change",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "rent",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"/\"&payload.stationid&\"/\"&payload.moduleid&\"/user/get\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{     \"cmd\": \"popup_sn\", \"data\":$string(payload.chargerid)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 2180,
        "wires": [
            [
                "117663ecd22e028b",
                "4d8bfe2028933124"
            ]
        ]
    },
    {
        "id": "117663ecd22e028b",
        "type": "link out",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "link out 40",
        "mode": "link",
        "links": [
            "187805de07036155"
        ],
        "x": 1535,
        "y": 2140,
        "wires": []
    },
    {
        "id": "61e90896601d5e59",
        "type": "switch",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "chk vend",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vend",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 2180,
        "wires": [
            [
                "87aa3a26f91fb5be",
                "64174602114d9e2c",
                "758109425e2655b3"
            ]
        ]
    },
    {
        "id": "8b9fe8b7500de432",
        "type": "link in",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "link in 17",
        "links": [
            "0e86cb6041f3c6f6",
            "121936a8363204a0"
        ],
        "x": 1115,
        "y": 2180,
        "wires": [
            [
                "61e90896601d5e59",
                "cb486a0812c5d8fd"
            ]
        ]
    },
    {
        "id": "64174602114d9e2c",
        "type": "function",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "Prepare Pending Rental Context",
        "func": "function normalizeStationId(value) {\n    return String(value || '').trim();\n}\n\nfunction toIso(value) {\n    const num = Number(value);\n    if (Number.isFinite(num) && num > 0) {\n        const millis = String(Math.trunc(num)).length <= 10 ? num * 1000 : num;\n        return new Date(millis).toISOString();\n    }\n    return new Date().toISOString();\n}\n\nfunction toMillis(value, fallback) {\n    const num = Number(value);\n    if (Number.isFinite(num) && num > 0) {\n        return String(Math.trunc(num)).length <= 10 ? num * 1000 : num;\n    }\n    return fallback;\n}\n\nfunction firstString() {\n    for (let index = 0; index < arguments.length; index++) {\n        const value = String(arguments[index] ?? '').trim();\n        if (value) {\n            return value;\n        }\n    }\n    return '';\n}\n\nfunction firstNumber() {\n    for (let index = 0; index < arguments.length; index++) {\n        const num = Number(arguments[index]);\n        if (Number.isFinite(num)) {\n            return num;\n        }\n    }\n    return null;\n}\n\nconst payload = msg.payload || {};\nif (String(payload.action || '').toLowerCase() !== 'vend') {\n    return null;\n}\n\nconst sn = Number(payload.chargerid || payload.sn || 0);\nif (!sn) {\n    node.warn('Skipping pending rental write without charger SN');\n    return null;\n}\n\nconst rentalTime = toIso(payload.rentalTime || payload.timerequested);\nconst requestedAtMs = toMillis(payload.timerequested || payload.rentalTime, Date.parse(rentalTime));\nconst rawid = firstString(\n    payload.rawid,\n    payload.rentalId,\n    payload.orderid,\n    payload.orderId,\n    payload.transactionid,\n    payload.transactionId,\n    'rent-' + sn + '-' + Date.parse(rentalTime)\n);\nconst orderid = firstString(payload.orderid, payload.orderId, rawid);\nconst stationid = normalizeStationId(payload.stationid || msg.stationid || '');\n\nmsg._pendingRentalCtx = {\n    rawid,\n    rentalId: rawid,\n    orderid,\n    transactionid: firstString(payload.transactionid, payload.transactionId),\n    requestId: firstString(payload.requestId, payload.requestid, msg.requestId),\n    sn,\n    chargerid: sn,\n    stationid,\n    moduleid: firstString(payload.moduleid, payload.moduleId, payload.module, msg.moduleid),\n    slotid: firstNumber(payload.slotid, payload.slot, payload.requestedSlotid),\n    rentalTime,\n    requestedAt: rentalTime,\n    requestedAtMs,\n    rentalLocation: firstString(payload.rentalLocation, msg.rentalLocation),\n    rentalPlace: firstString(payload.rentalPlace, msg.rentalPlace),\n    currency: firstString(payload.currency),\n    symbol: firstString(payload.symbol),\n    buyprice: firstNumber(payload.buyprice),\n    initialCharge: firstNumber(payload.initialCharge, payload.initialcharge),\n    totalCharged: firstNumber(payload.totalCharged, payload.totalcharged, payload.amountCharged),\n    card_last4: firstString(payload.card_last4, payload.cardLast4, payload.last4),\n    clientId: firstString(payload.clientId, payload.clientid),\n    repId: firstString(payload.repId, payload.repid),\n    gateway: firstString(payload.gateway),\n    paymentIntentId: firstString(payload.paymentIntentId, payload.paymentintentid),\n    customerId: firstString(payload.customerId, payload.customerid),\n    rentPower: firstNumber(payload.rentPower, payload.rentpower, payload.powerlevel, payload.power),\n    country: firstString(payload.country, payload.rentalCountry),\n    memberid: firstNumber(payload.memberid, payload.memberId)\n};\n\nif (!stationid) {\n    msg.kioskDoc = null;\n    return [null, msg];\n}\n\nmsg.payload = {\n    path: 'kiosks',\n    query: [{ fieldPath: 'stationid', opStr: '==', value: stationid }]\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 2220,
        "wires": [
            [
                "vr-kiosk-query"
            ],
            [
                "vr-rental-build"
            ]
        ]
    },
    {
        "id": "vr-kiosk-query",
        "type": "google-cloud-firestore",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Query kiosk for rental defaults",
        "projectId": "node-red-alerts",
        "mode": "query",
        "x": 1690,
        "y": 2220,
        "wires": [
            [
                "vr-kiosk-resolve"
            ]
        ]
    },
    {
        "id": "vr-kiosk-resolve",
        "type": "function",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "Resolve kiosk for rental",
        "func": "function normalizeStationId(value) {\n    return String(value || '').trim();\n}\n\nconst docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst stationid = normalizeStationId(msg._pendingRentalCtx?.stationid || '');\nconst matched = docs.find((doc) => normalizeStationId(doc?.stationid || '') === stationid) || null;\n\nmsg.kioskDoc = matched ? JSON.parse(JSON.stringify(matched)) : null;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 2220,
        "wires": [
            [
                "vr-rental-build"
            ]
        ]
    },
    {
        "id": "vr-rental-build",
        "type": "function",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "Build Pending Rental Write",
        "func": "function firstString() {\n    for (let index = 0; index < arguments.length; index++) {\n        const value = String(arguments[index] ?? '').trim();\n        if (value) {\n            return value;\n        }\n    }\n    return '';\n}\n\nfunction isFiniteNumber(value) {\n    return Number.isFinite(value);\n}\n\nfunction firstNumber() {\n    for (let index = 0; index < arguments.length; index++) {\n        const value = arguments[index];\n        if (Number.isFinite(value)) {\n            return value;\n        }\n        const parsed = Number(value);\n        if (Number.isFinite(parsed)) {\n            return parsed;\n        }\n    }\n    return null;\n}\n\nfunction assignString(target, key) {\n    const values = Array.prototype.slice.call(arguments, 2);\n    const value = firstString.apply(null, values);\n    if (value) {\n        target[key] = value;\n    }\n}\n\nfunction assignNumber(target, key) {\n    const values = Array.prototype.slice.call(arguments, 2);\n    const value = firstNumber.apply(null, values);\n    if (value !== null) {\n        target[key] = value;\n    }\n}\n\nconst ctx = msg._pendingRentalCtx;\nif (!ctx) {\n    node.error('Missing msg._pendingRentalCtx', msg);\n    return null;\n}\n\nconst kiosk = msg.kioskDoc || {};\nconst info = kiosk.info && typeof kiosk.info === 'object' ? kiosk.info : {};\nconst pricing = kiosk.pricing && typeof kiosk.pricing === 'object' ? kiosk.pricing : {};\nconst hardware = kiosk.hardware && typeof kiosk.hardware === 'object' ? kiosk.hardware : {};\n\nconst rentalDoc = {\n    rawid: ctx.rawid,\n    rentalId: ctx.rentalId,\n    orderid: ctx.orderid,\n    status: 'pending',\n    sn: ctx.sn,\n    chargerid: ctx.chargerid,\n    rentalStationid: firstString(ctx.stationid, kiosk.stationid),\n    rentalTime: ctx.rentalTime,\n    requestedAt: ctx.requestedAt\n};\n\nassignString(rentalDoc, 'rentalModuleid', ctx.moduleid);\nassignString(rentalDoc, 'requestId', ctx.requestId);\nassignString(rentalDoc, 'rentalLocation', ctx.rentalLocation, info.location);\nassignString(rentalDoc, 'rentalPlace', ctx.rentalPlace, info.place);\nassignString(rentalDoc, 'currency', ctx.currency, pricing.currency);\nassignString(rentalDoc, 'symbol', ctx.symbol, pricing.symbol);\nassignString(rentalDoc, 'card_last4', ctx.card_last4);\nassignString(rentalDoc, 'clientId', ctx.clientId, info.clientId, info.client);\nassignString(rentalDoc, 'repId', ctx.repId, info.rep);\nassignString(rentalDoc, 'gateway', ctx.gateway, hardware.gateway);\nassignString(rentalDoc, 'paymentIntentId', ctx.paymentIntentId);\nassignString(rentalDoc, 'customerId', ctx.customerId);\nassignString(rentalDoc, 'country', ctx.country, info.country);\nassignNumber(rentalDoc, 'memberid', ctx.memberid);\n\nif (ctx.transactionid) {\n    rentalDoc.transactionid = ctx.transactionid;\n}\n\nif (ctx.slotid !== null) {\n    rentalDoc.rentalSlotid = ctx.slotid;\n    rentalDoc.requestedSlotid = ctx.slotid;\n}\n\nif (ctx.requestedAtMs) {\n    rentalDoc.timerequested = ctx.requestedAtMs;\n}\n\nassignNumber(rentalDoc, 'buyprice', ctx.buyprice, pricing.buyprice);\nassignNumber(rentalDoc, 'initialCharge', ctx.initialCharge);\nassignNumber(rentalDoc, 'rentPower', ctx.rentPower);\n\nif (ctx.totalCharged !== null) {\n    rentalDoc.totalCharged = ctx.totalCharged;\n}\n\nmsg.payload = {\n    path: 'rentals/' + ctx.rawid,\n    content: rentalDoc\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 2220,
        "wires": [
            [
                "58d668e2dc2cdd96"
            ]
        ]
    },
    {
        "id": "4d8bfe2028933124",
        "type": "debug",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "vend cmd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 2180,
        "wires": []
    },
    {
        "id": "58d668e2dc2cdd96",
        "type": "google-cloud-firestore",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Upsert pending rental",
        "projectId": "node-red-alerts",
        "mode": "set",
        "x": 2380,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "cb486a0812c5d8fd",
        "type": "debug",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "debug 544",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 2220,
        "wires": []
    },
    {
        "id": "758109425e2655b3",
        "type": "debug",
        "z": "ebbebe04a01eca8f",
        "g": "34eaacc20fdb7b09",
        "name": "debug 581",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 2140,
        "wires": []
    }
]
