scripts/new-kiosk-bulk-commands-flow.json
[
    {
        "id": "d984d87df9d85a01",
        "type": "comment",
        "z": "f32d67882beea623",
        "name": "IMPORT: wire Route new kiosk vend output 3 here",
        "info": "After importing these nodes:\n1. Remove the existing output-3 wire from \"Route new kiosk vend\" to \"Forward to Besiter flow\".\n2. Wire output 3 of \"Route new kiosk vend\" into \"Route V2 bulk command expansion\".\n3. Deploy.\n\nThis flow handles new-kiosk server-side expansion for:\n- eject specific\n- eject all\n- eject empty\n- eject full\n- eject locked\n- eject count\n- rent\n\nIt is self-contained for bulk V2 sends:\n- queries Firestore for kiosk slot state\n- applies documented vendslot-based selection/order\n- stores vend confirmation context in flow context\n- publishes the final module command directly as:\n  topic: /<stationid>/<moduleid>/user/get\n  payload: {\"cmd\":\"popup_sn\",\"data\":\"<chargerid>\"}\n- clears Firebase lock state for locked slots selected by eject actions\n- keeps the individual vend confirmations\n- sends one final aggregate toast only after all selected vend confirmations arrive on CSTA/post/+\n- skips aggregate start/final toasts for single-slot eject specific requests",
        "x": 2330,
        "y": 1600,
        "wires": []
    },
    {
        "id": "a71d1cd6fd2a6401",
        "type": "function",
        "z": "f32d67882beea623",
        "name": "Route V2 bulk command expansion",
        "func": "const command = msg.command || {};\nconst action = String(command.action || '').trim().toLowerCase();\nconst stationid = String(command.stationid || command.kiosk?.stationid || '').trim();\nconst SUPPORTED = new Set([\n  'eject specific',\n  'eject all',\n  'eject empty',\n  'eject full',\n  'eject locked',\n  'eject count',\n  'rent'\n]);\n\nif (!SUPPORTED.has(action)) {\n  return [null, msg, null];\n}\n\nconst now = Date.now();\nconst bulkRequestId = String(\n  command.requestId || `v2-${action.replace(/\\s+/g, '-')}-${stationid || 'unknown'}-${now}`\n);\n\nif (!stationid) {\n  return [null, null, {\n    _session: msg._session,\n    payload: {\n      action: command.action || 'vend',\n      stationid: '',\n      kiosk: '',\n      status: 0,\n      status_en: 'Missing stationid for V2 bulk command',\n      requestId: bulkRequestId,\n      timerequested: Number(command.timerequested || now),\n      timeresponded: now,\n      bulkPhase: 'error'\n    }\n  }];\n}\n\nmsg._v2Bulk = {\n  action,\n  originalAction: String(command.action || action),\n  bulkRequestId,\n  requestedCount: Number(command.slotid ?? command.count ?? 0),\n  user: msg.payload || null\n};\nmsg.payload = {\n  path: 'kiosks',\n  query: [{ fieldPath: 'stationid', opStr: '==', value: stationid }]\n};\n\nreturn [msg, null, null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2310,
        "y": 1680,
        "wires": [
            [
                "f72f6942ef90bb7a"
            ],
            [
                "263eb248a8b3d5f7"
            ],
            [
                "590392fc03398acc"
            ]
        ]
    },
    {
        "id": "f72f6942ef90bb7a",
        "type": "google-cloud-firestore",
        "z": "f32d67882beea623",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Query kiosk in Firebase for V2 bulk",
        "projectId": "node-red-alerts",
        "mode": "query",
        "x": 2620,
        "y": 1680,
        "wires": [
            [
                "cb7e6e0a4d6f1f3c"
            ]
        ]
    },
    {
        "id": "cb7e6e0a4d6f1f3c",
        "type": "function",
        "z": "f32d67882beea623",
        "name": "Expand and dispatch V2 bulk commands",
        "func": "const V2_TYPES = new Set(['CT3', 'CT4', 'CT8', 'CT12', 'CK48']);\nconst DEFAULT_POWER_THRESHOLD = 80;\nconst INTER_COMMAND_DELAY_MS = 400;\nconst BULK_STORE_KEY = 'dashboardPendingBulkVendRequests';\nconst BULK_MATCH_KEY = 'dashboardPendingBulkVendMatches';\nconst BULK_TTL_MS = 10 * 60 * 1000;\n\nconst docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst command = msg.command || {};\nconst bulk = msg._v2Bulk || {};\nconst stationid = String(command.stationid || command.kiosk?.stationid || '').trim();\nconst originalAction = String(bulk.originalAction || command.action || '').trim();\nconst action = String(bulk.action || command.action || '').trim().toLowerCase();\nconst bulkRequestId = String(bulk.bulkRequestId || command.requestId || '').trim() || `v2-${(action || 'vend').replace(/\\s+/g, '-')}-${stationid}-${Date.now()}`;\nconst sessionValue = msg._session;\nconst sessionId = msg._session?.id || msg._session || command.admin || null;\nconst requestedCount = Number.isFinite(Number(bulk.requestedCount)) ? Number(bulk.requestedCount) : 0;\nconst userPayload = bulk.user || null;\n\nfunction resolveTimestamp(value, fallback) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : fallback;\n}\n\nconst baseTimerequested = resolveTimestamp(command.timerequested, Date.now());\n\nfunction buildToast(status, statusEn, extra = {}) {\n  return {\n    _session: sessionValue,\n    payload: {\n      action: originalAction || action,\n      stationid,\n      kiosk: stationid,\n      status,\n      status_en: statusEn,\n      requestId: bulkRequestId,\n      timerequested: baseTimerequested,\n      timeresponded: Date.now(),\n      ...extra\n    }\n  };\n}\n\nfunction pruneBulkRequests(store, now) {\n  const next = {};\n  Object.entries(store || {}).forEach(([key, value]) => {\n    if (value && (now - Number(value.createdAt || 0)) < BULK_TTL_MS) {\n      next[key] = value;\n    }\n  });\n  return next;\n}\n\nfunction pruneBulkMatches(store, now) {\n  const next = {};\n  Object.entries(store || {}).forEach(([key, queue]) => {\n    const items = Array.isArray(queue)\n      ? queue.filter((item) => item && (now - Number(item.createdAt || 0)) < BULK_TTL_MS)\n      : [];\n    if (items.length > 0) next[key] = items;\n  });\n  return next;\n}\n\nfunction toModules(kiosk) {\n  if (Array.isArray(kiosk?.modules)) {\n    return kiosk.modules;\n  }\n  if (kiosk?.modules && typeof kiosk.modules === 'object') {\n    return Object.values(kiosk.modules);\n  }\n  return [];\n}\n\nfunction hasCharger(slot) {\n  const chargerid = Number(slot?.sn ?? slot?.cid ?? 0);\n  return Number.isFinite(chargerid) && chargerid > 0;\n}\n\nfunction parseVendSlot(value) {\n  const parts = String(value || '0.1').split('.');\n  return {\n    moduleIndex: Number.parseInt(parts[0], 10) || 0,\n    slotid: Number.parseInt(parts[1], 10) || 1\n  };\n}\n\nfunction buildGlobalSlotIndex(kiosk) {\n  const modules = toModules(kiosk).filter(Boolean);\n  const globalSlots = [];\n\n  modules.forEach((module, moduleIndex) => {\n    const slots = Array.isArray(module?.slots) ? module.slots : [];\n    slots.forEach((slot) => {\n      const slotid = Number(slot?.position ?? slot?.slotid ?? slot?.slot);\n      if (Number.isFinite(slotid)) {\n        globalSlots.push({ moduleIndex, slotid });\n      }\n    });\n  });\n\n  globalSlots.sort((left, right) => left.moduleIndex - right.moduleIndex || left.slotid - right.slotid);\n  return globalSlots;\n}\n\nfunction buildCandidateMeta(kiosk, powerThreshold) {\n  const modules = toModules(kiosk).filter(Boolean);\n  const globalSlots = buildGlobalSlotIndex(kiosk);\n  const vendSlot = parseVendSlot(kiosk?.vendslot);\n  let vendIndex = globalSlots.findIndex((slot) => slot.moduleIndex === vendSlot.moduleIndex && slot.slotid === vendSlot.slotid);\n  if (vendIndex < 0) vendIndex = 0;\n  const totalSlots = globalSlots.length || 1;\n  const candidates = [];\n\n  modules.forEach((module, moduleIndex) => {\n    const moduleid = String(module?.id || module?.moduleid || '').trim();\n    const slots = Array.isArray(module?.slots) ? module.slots : [];\n\n    slots.forEach((slot) => {\n      if (!moduleid || !hasCharger(slot)) {\n        return;\n      }\n\n      const slotid = Number(slot?.position ?? slot?.slotid ?? slot?.slot);\n      if (!Number.isFinite(slotid)) {\n        return;\n      }\n\n      const chargerid = Number(slot?.sn ?? slot?.cid ?? 0);\n      const rawBatteryLevel = Number(slot?.batteryLevel ?? slot?.batlvl ?? -1);\n      const batteryLevel = Number.isFinite(rawBatteryLevel) ? rawBatteryLevel : -1;\n      const locked = Boolean(slot?.lock ?? slot?.isLocked);\n      const globalIndex = globalSlots.findIndex((globalSlot) => globalSlot.moduleIndex === moduleIndex && globalSlot.slotid === slotid);\n      const distance = globalIndex >= 0\n        ? (((globalIndex - vendIndex) + totalSlots) % totalSlots)\n        : totalSlots;\n\n      candidates.push({\n        stationid,\n        moduleid,\n        moduleIndex,\n        slotid,\n        chargerid,\n        batteryLevel,\n        locked,\n        full: batteryLevel >= powerThreshold,\n        globalIndex,\n        distance\n      });\n    });\n  });\n\n  return candidates;\n}\n\nfunction sortByPhysicalOrder(left, right) {\n  return left.moduleIndex - right.moduleIndex || left.slotid - right.slotid;\n}\n\nfunction sortByVendDistance(left, right) {\n  const leftDistance = left.distance === 0 ? Number.MAX_SAFE_INTEGER : left.distance;\n  const rightDistance = right.distance === 0 ? Number.MAX_SAFE_INTEGER : right.distance;\n  return leftDistance - rightDistance || sortByPhysicalOrder(left, right);\n}\n\nfunction modulesMatch(left, right) {\n  const a = String(left || '').trim();\n  const b = String(right || '').trim();\n  if (!a || !b) return false;\n  if (a === b) return true;\n  if (a.replace(/^m/i, '') === b.replace(/^m/i, '')) return true;\n  if (`1000${a}` === b || a === b.replace(/^1000/, '')) return true;\n  return false;\n}\n\nfunction orderFullCandidatesByVendSlot(candidates) {\n  const ordered = candidates.slice().sort(sortByPhysicalOrder);\n  let bestAfterVend = null;\n\n  ordered.forEach((candidate) => {\n    if (candidate.distance <= 0) {\n      return;\n    }\n    if (!bestAfterVend || candidate.batteryLevel > bestAfterVend.batteryLevel || (\n      candidate.batteryLevel === bestAfterVend.batteryLevel && sortByPhysicalOrder(candidate, bestAfterVend) < 0\n    )) {\n      bestAfterVend = candidate;\n    }\n  });\n\n  if (!bestAfterVend) {\n    return ordered;\n  }\n\n  return [bestAfterVend, ...ordered.filter((candidate) => candidate !== bestAfterVend)];\n}\n\nfunction buildUnlockUpdate(kioskDoc, selectedCandidates, threshold) {\n  const lockedSelected = Array.isArray(selectedCandidates)\n    ? selectedCandidates.filter((candidate) => candidate && candidate.locked)\n    : [];\n  if (lockedSelected.length === 0) {\n    return null;\n  }\n\n  const provisionid = String(kioskDoc?.provisionid || '').trim();\n  if (!provisionid) {\n    return null;\n  }\n\n  const selectedKeys = new Set(lockedSelected.map((candidate) => `${candidate.moduleid}:${candidate.slotid}`));\n  const sourceModules = toModules(kioskDoc);\n  const modules = sourceModules.map((module) => {\n    const moduleid = String(module?.id || module?.moduleid || '').trim();\n    const slots = Array.isArray(module?.slots)\n      ? module.slots.map((slot) => {\n          const slotid = Number(slot?.position ?? slot?.slotid ?? slot?.slot);\n          if (!selectedKeys.has(`${moduleid}:${slotid}`)) {\n            return slot;\n          }\n\n          const nextSlot = { ...slot, lock: false, isLocked: false };\n          delete nextSlot.lockReason;\n          return nextSlot;\n        })\n      : [];\n\n    return {\n      ...module,\n      slots,\n      lock: slots.reduce((sum, slot) => sum + (slot?.lock ? 1 : 0), 0)\n    };\n  });\n\n  let count = 0;\n  let slotscount = 0;\n  let lockcount = 0;\n\n  modules.forEach((module) => {\n    const slots = Array.isArray(module?.slots) ? module.slots : [];\n    slotscount += slots.length;\n    slots.forEach((slot) => {\n      if (slot?.lock) {\n        lockcount += 1;\n      }\n      if (\n        slot &&\n        slot.status === 1 &&\n        slot.sn &&\n        slot.sn !== 0 &&\n        typeof slot.batteryLevel === 'number' &&\n        slot.batteryLevel >= threshold &&\n        !slot.lock\n      ) {\n        count += 1;\n      }\n    });\n  });\n\n  return {\n    payload: {\n      path: 'kiosks/' + provisionid,\n      content: {\n        modules,\n        count,\n        slotscount,\n        lockcount,\n        zerocount: Number(kioskDoc?.zerocount || 0),\n        chargers: count === 0 ? 'soldout' : count,\n        vendslot: kioskDoc?.vendslot || '',\n        total: Number(kioskDoc?.total || 0),\n        full: Number(kioskDoc?.full || 0),\n        empty: Number(kioskDoc?.empty || 0),\n        slot: Number(kioskDoc?.slot || 0),\n        charging: Number(kioskDoc?.charging || 0),\n        lastUpdate: kioskDoc?.lastUpdate || kioskDoc?.timestamp || new Date().toISOString(),\n        timestamp: kioskDoc?.timestamp || kioskDoc?.lastUpdate || new Date().toISOString()\n      }\n    }\n  };\n}\n\nif (!stationid) {\n  return [null, buildToast(0, 'Missing stationid for V2 bulk command', { bulkPhase: 'error' }), null];\n}\n\nif (docs.length === 0) {\n  return [null, buildToast(0, `Kiosk ${stationid} not found`, { bulkPhase: 'error' }), null];\n}\n\nconst kiosk = docs[0] || {};\nconst hardwareType = String(kiosk?.hardware?.type || '').toUpperCase();\nconst isV2 = kiosk?.isNewSchema === true || V2_TYPES.has(hardwareType) || toModules(kiosk).some((module) => Array.isArray(module?.slots));\nif (!isV2) {\n  return [null, buildToast(0, `${stationid} is not a V2 kiosk`, { bulkPhase: 'error' }), null];\n}\n\nconst configuredPower = Number(kiosk?.hardware?.power);\nconst powerThreshold = Number.isFinite(configuredPower) ? configuredPower : DEFAULT_POWER_THRESHOLD;\nconst requestedModuleid = String(command.moduleid || command.moduleId || '').trim();\nconst requestedSlotid = Number(command.slotid ?? command.slot);\nconst requestedChargerid = Number(command.chargerid || command.sn || 0);\nconst candidates = buildCandidateMeta(kiosk, powerThreshold);\nconst unlockedCandidates = candidates.filter((candidate) => !candidate.locked);\nconst fullUnlockedCandidates = unlockedCandidates.filter((candidate) => candidate.full);\nconst emptyUnlockedCandidates = unlockedCandidates.filter((candidate) => !candidate.full && candidate.batteryLevel >= 0);\nconst lockedCandidates = candidates.filter((candidate) => candidate.locked);\nconst orderedFullCandidates = orderFullCandidatesByVendSlot(fullUnlockedCandidates);\n\nlet selected = [];\nlet selectionDetails = '';\n\nswitch (action) {\n  case 'eject specific': {\n    const selectedCandidate = candidates.find((candidate) => {\n      const moduleMatches = requestedModuleid ? modulesMatch(candidate.moduleid, requestedModuleid) : true;\n      const slotMatches = Number.isFinite(requestedSlotid) ? candidate.slotid === requestedSlotid : true;\n      const chargerMatches = requestedChargerid > 0 ? candidate.chargerid === requestedChargerid : true;\n      return moduleMatches && slotMatches && chargerMatches;\n    }) || candidates.find((candidate) => {\n      if (!requestedModuleid || !Number.isFinite(requestedSlotid)) return false;\n      return modulesMatch(candidate.moduleid, requestedModuleid) && candidate.slotid === requestedSlotid;\n    }) || candidates.find((candidate) => {\n      if (!requestedModuleid || !(requestedChargerid > 0)) return false;\n      return modulesMatch(candidate.moduleid, requestedModuleid) && candidate.chargerid === requestedChargerid;\n    }) || null;\n    if (selectedCandidate) {\n      selected = [selectedCandidate];\n    }\n    selectionDetails = 'single-slot eject request';\n    break;\n  }\n  case 'eject all':\n    selected = unlockedCandidates.slice().sort(sortByVendDistance);\n    selectionDetails = 'unlocked chargers ordered after vendslot';\n    break;\n  case 'eject full':\n    selected = orderedFullCandidates;\n    selectionDetails = `chargers >= ${powerThreshold}% ordered by documented vendslot logic`;\n    break;\n  case 'eject empty':\n    selected = emptyUnlockedCandidates.slice().sort(sortByVendDistance);\n    selectionDetails = `chargers < ${powerThreshold}% ordered after vendslot`;\n    break;\n  case 'eject locked':\n    selected = lockedCandidates.slice().sort(sortByVendDistance);\n    selectionDetails = 'locked chargers ordered after vendslot';\n    break;\n  case 'eject count': {\n    if (!Number.isFinite(requestedCount) || requestedCount <= 0) {\n      return [null, buildToast(0, 'eject count requires a positive slotid/count value', { bulkPhase: 'error' }), null];\n    }\n    selected = orderedFullCandidates.slice(0, requestedCount);\n    selectionDetails = `${Math.max(requestedCount, 0)} requested using documented vend ordering`;\n    break;\n  }\n  case 'rent':\n    selected = orderedFullCandidates.slice(0, 1);\n    selectionDetails = 'documented vend candidate after vendslot';\n    break;\n  default:\n    return [null, buildToast(0, `Unsupported V2 bulk action: ${originalAction || action}`, { bulkPhase: 'error' }), null];\n}\n\nif (selected.length === 0) {\n  let message = `No eligible chargers found for ${originalAction || action} on ${stationid}`;\n  if (action === 'eject count') {\n    message = `No eligible chargers found for ${originalAction || action} on ${stationid} (${Math.max(requestedCount, 0)} requested)`;\n  } else if (action === 'eject specific') {\n    message = `Requested slot could not be ejected on ${stationid}`;\n  }\n  return [null, buildToast(0, message, { bulkPhase: 'error' }), null];\n}\n\nconst shouldTrackAggregate = action !== 'eject specific';\nconst shouldSendStartToast = shouldTrackAggregate;\nconst plural = selected.length === 1 ? '' : 's';\nconst requestedSuffix = action === 'eject count' ? ` (${requestedCount} requested)` : '';\nconst startedMessage = `Started ${originalAction || action} on ${stationid}: ${selected.length} charger${plural} selected${requestedSuffix}`;\nconst trackingNow = Date.now();\nconst bulkRequests = pruneBulkRequests(flow.get(BULK_STORE_KEY) || {}, trackingNow);\nconst bulkMatches = pruneBulkMatches(flow.get(BULK_MATCH_KEY) || {}, trackingNow);\nconst unlockUpdateMsg = buildUnlockUpdate(kiosk, selected, powerThreshold);\n\nif (shouldTrackAggregate) {\n  bulkRequests[bulkRequestId] = {\n    bulkRequestId,\n    action: originalAction || action,\n    stationid,\n    sessionValue,\n    sessionId,\n    total: selected.length,\n    completed: 0,\n    successCount: 0,\n    failureCount: 0,\n    requestedCount,\n    threshold: powerThreshold,\n    selection: selectionDetails,\n    timerequested: baseTimerequested,\n    createdAt: trackingNow\n  };\n\n  selected.forEach((candidate, index) => {\n    const matchKey = `vend:${candidate.stationid}:${candidate.moduleid}:${candidate.chargerid}`;\n    const queue = Array.isArray(bulkMatches[matchKey]) ? bulkMatches[matchKey] : [];\n    queue.push({\n      bulkRequestId,\n      stationid: candidate.stationid,\n      moduleid: candidate.moduleid,\n      chargerid: candidate.chargerid,\n      slotid: candidate.slotid,\n      shouldUnlock: Boolean(candidate.locked),\n      index: index + 1,\n      createdAt: trackingNow\n    });\n    bulkMatches[matchKey] = queue.slice(-10);\n  });\n\n  flow.set(BULK_STORE_KEY, bulkRequests);\n  flow.set(BULK_MATCH_KEY, bulkMatches);\n}\n\nnode.warn(`V2 bulk ${originalAction || action} ${bulkRequestId} for ${stationid}: selected ${selected.length} charger(s); criteria=${selectionDetails}; session=${sessionId || 'n/a'}`);\nif (shouldSendStartToast) {\n  node.send([null, buildToast(1, startedMessage, {\n    bulkPhase: 'started',\n    selectedCount: selected.length,\n    requestedCount,\n    threshold: powerThreshold,\n    selection: selectionDetails\n  }), unlockUpdateMsg]);\n} else if (unlockUpdateMsg) {\n  node.send([null, null, unlockUpdateMsg]);\n}\n\nselected.forEach((candidate, index) => {\n  setTimeout(() => {\n    const isSingleSpecific = action === 'eject specific' && selected.length === 1;\n    const vendRequestId = isSingleSpecific\n      ? (String(command.requestId || '').trim() || `vend-${stationid}-${candidate.moduleid}-${candidate.chargerid}-${Date.now()}`)\n      : `${bulkRequestId}-${String(index + 1).padStart(2, '0')}`;\n    const vendTimerequested = isSingleSpecific ? baseTimerequested : Date.now();\n    const vendMsg = {\n      _session: sessionValue,\n      payload: userPayload,\n      command: {\n        ...command,\n        action: 'vend',\n        stationid,\n        moduleid: candidate.moduleid,\n        slotid: candidate.slotid,\n        chargerid: candidate.chargerid,\n        requestId: vendRequestId,\n        timerequested: vendTimerequested,\n        bulkRequestId: shouldTrackAggregate ? bulkRequestId : null,\n        originalAction: originalAction || action,\n        bulkIndex: index + 1,\n        bulkTotal: selected.length\n      }\n    };\n\n    node.send([vendMsg, null, null]);\n  }, index * INTER_COMMAND_DELAY_MS);\n});\n\nreturn null;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2950,
        "y": 1680,
        "wires": [
            [
                "c4c8dd0fd01aa8a2"
            ],
            [
                "590392fc03398acc"
            ],
            [
                "1adf6b9c8947c8d3"
            ]
        ]
    },
    {
        "id": "1adf6b9c8947c8d3",
        "type": "google-cloud-firestore",
        "z": "f32d67882beea623",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Persist eject locked unlocks",
        "projectId": "node-red-alerts",
        "mode": "update",
        "x": 3320,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "c4c8dd0fd01aa8a2",
        "type": "function",
        "z": "f32d67882beea623",
        "name": "Prepare direct popup_sn vend",
        "func": "const STORE_KEY = 'dashboardPendingVendCommands';\nconst TTL_MS = 5 * 60 * 1000;\nfunction normalizeStationId(value) {\n  return String(value || '').trim();\n}\n\nfunction resolveTimestamp(value, fallback) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : fallback;\n}\n\nfunction prune(store, now) {\n  const next = {};\n  Object.entries(store || {}).forEach(([key, queue]) => {\n    const items = Array.isArray(queue)\n      ? queue.filter((item) => item && (now - Number(item.createdAt || 0)) < TTL_MS)\n      : [];\n    if (items.length > 0) next[key] = items;\n  });\n  return next;\n}\n\nconst command = msg.command || {};\nif (String(command.action || '').toLowerCase() !== 'vend') {\n  return msg;\n}\nconst stationidRaw = normalizeStationId(command.stationid);\nconst stationid = stationidRaw;\nconst moduleid = String(command.moduleid || command.moduleId || '').trim();\nconst chargerid = Number(command.chargerid || command.sn || 0);\nconst slotValue = command.slotid ?? command.slot;\nconst slotid = Number(slotValue);\nconst now = Date.now();\nconst timerequested = resolveTimestamp(command.timerequested, now);\nconst sessionId = msg._session?.id || msg._session || command.admin || null;\n\nif (!stationid || !moduleid || !Number.isFinite(chargerid) || chargerid <= 0) {\n  node.error('Vend command is missing stationid, moduleid, or chargerid', msg);\n  return null;\n}\n\nif (sessionId === null || sessionId === undefined || sessionId === '') {\n  node.error('Vend command is missing websocket session context', msg);\n  return null;\n}\n\nconst requestId = String(command.requestId || '').trim() || `vend-${stationid}-${moduleid}-${chargerid}-${now}`;\nconst pendingKey = `vend:${stationid}:${moduleid}:${chargerid}`;\nconst entry = {\n  requestId,\n  sessionId,\n  stationid,\n  stationidRaw,\n  moduleid,\n  chargerid,\n  slotid: Number.isFinite(slotid) ? slotid : null,\n  timerequested,\n  bulkRequestId: String(command.bulkRequestId || '').trim() || null,\n  originalAction: String(command.originalAction || '').trim() || 'vend',\n  createdAt: now\n};\n\nconst store = prune(flow.get(STORE_KEY) || {}, now);\nconst queue = Array.isArray(store[pendingKey]) ? store[pendingKey] : [];\nqueue.push(entry);\nstore[pendingKey] = queue.slice(-5);\nflow.set(STORE_KEY, store);\n\nmsg.requestId = requestId;\nmsg.timerequested = timerequested;\nmsg.command = {\n  ...command,\n  stationid,\n  moduleid,\n  chargerid,\n  slotid: entry.slotid,\n  requestId,\n  timerequested,\n  bulkRequestId: entry.bulkRequestId,\n  originalAction: entry.originalAction\n};\nmsg.topic = `/${stationid}/${moduleid}/user/get`;\nmsg.payload = {\n  cmd: 'popup_sn',\n  data: String(chargerid)\n};\nnode.warn(`Publishing popup_sn for ${stationid}/${moduleid} charger ${chargerid} request ${requestId}`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3320,
        "y": 1680,
        "wires": [
            [
                "36ce4ef5da1d928c"
            ]
        ]
    },
    {
        "id": "36ce4ef5da1d928c",
        "type": "mqtt out",
        "z": "f32d67882beea623",
        "name": "Publish popup_sn",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "49a917a3f001a2dc",
        "x": 3580,
        "y": 1680,
        "wires": []
    },
    {
        "id": "7b2db94953f6c88e",
        "type": "mqtt-json",
        "z": "f32d67882beea623",
        "name": "V2 bulk vend confirmations",
        "topic": "CSTA/post/+",
        "property": "",
        "qos": "2",
        "broker": "49a917a3f001a2dc",
        "x": 2950,
        "y": 1800,
        "wires": [
            [
                "96a49fe9633e05cd"
            ]
        ]
    },
    {
        "id": "96a49fe9633e05cd",
        "type": "function",
        "z": "f32d67882beea623",
        "name": "Finalize V2 bulk completion toast",
        "func": "const BULK_STORE_KEY = 'dashboardPendingBulkVendRequests';\nconst MATCH_STORE_KEY = 'dashboardPendingBulkVendMatches';\nconst RECENT_KEY = 'dashboardRecentBulkVendConfirmations';\nconst BULK_TTL_MS = 10 * 60 * 1000;\nconst RECENT_TTL_MS = 60 * 1000;\nfunction normalizeStationId(value) {\n  return String(value || '').trim();\n}\n\nfunction normalizeModuleId(value) {\n  return String(value || '').trim();\n}\n\nfunction resolveTimestamp(value, fallback) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : fallback;\n}\n\nfunction parseStationId(topic) {\n  const parts = String(topic || '').split('/').filter(Boolean);\n  return String(parts[2] || '').trim();\n}\n\nfunction pruneBulkRequests(store, now) {\n  const next = {};\n  Object.entries(store || {}).forEach(([key, value]) => {\n    if (value && (now - Number(value.createdAt || 0)) < BULK_TTL_MS) {\n      next[key] = value;\n    }\n  });\n  return next;\n}\n\nfunction pruneMatchQueues(store, now) {\n  const next = {};\n  Object.entries(store || {}).forEach(([key, queue]) => {\n    const items = Array.isArray(queue)\n      ? queue.filter((item) => item && (now - Number(item.createdAt || 0)) < BULK_TTL_MS)\n      : [];\n    if (items.length > 0) next[key] = items;\n  });\n  return next;\n}\n\nfunction pruneRecent(store, now) {\n  const next = {};\n  Object.entries(store || {}).forEach(([key, item]) => {\n    if (item && (now - Number(item.seenAt || 0)) < RECENT_TTL_MS) {\n      next[key] = item;\n    }\n  });\n  return next;\n}\n\nfunction modulesMatch(left, right) {\n  const a = normalizeModuleId(left);\n  const b = normalizeModuleId(right);\n  if (!a || !b) return false;\n  if (a === b) return true;\n  return a.replace(/^m/i, '') === b.replace(/^m/i, '');\n}\n\nfunction dequeue(store, key) {\n  const queue = Array.isArray(store[key]) ? store[key] : [];\n  const pending = queue.shift();\n  if (queue.length > 0) store[key] = queue;\n  else delete store[key];\n  return pending || null;\n}\n\nfunction findPendingMatch(store, stationid, moduleid, chargerid) {\n  const exactKey = `vend:${stationid}:${moduleid}:${chargerid}`;\n  const exactPending = dequeue(store, exactKey);\n  if (exactPending) {\n    return { pending: exactPending, key: exactKey };\n  }\n\n  const matchingKeys = Object.keys(store).filter((key) => {\n    const parts = key.split(':');\n    if (parts.length !== 4 || parts[0] !== 'vend') return false;\n    const keyStationid = normalizeStationId(parts[1]);\n    const keyModuleid = normalizeModuleId(parts[2]);\n    const keyChargerid = Number(parts[3]);\n    return keyStationid === stationid && modulesMatch(keyModuleid, moduleid) && keyChargerid === chargerid;\n  });\n\n  for (const key of matchingKeys) {\n    const pending = dequeue(store, key);\n    if (pending) return { pending, key };\n  }\n\n  const relaxedKeys = Object.keys(store).filter((key) => {\n    const parts = key.split(':');\n    if (parts.length !== 4 || parts[0] !== 'vend') return false;\n    const keyModuleid = normalizeModuleId(parts[2]);\n    const keyChargerid = Number(parts[3]);\n    return modulesMatch(keyModuleid, moduleid) && keyChargerid === chargerid;\n  });\n\n  for (const key of relaxedKeys) {\n    const pending = dequeue(store, key);\n    if (pending) return { pending, key };\n  }\n\n  return { pending: null, key: exactKey };\n}\n\nfunction buildSummaryMessage(action, stationid, successCount, total) {\n  const normalizedAction = String(action || '').trim().toLowerCase();\n  const isRent = normalizedAction === 'rent';\n\n  if (isRent) {\n    if (successCount === total) {\n      return total === 1\n        ? `Requested charger has been rented from ${stationid}`\n        : `All requested chargers have been rented from ${stationid}`;\n    }\n    if (successCount === 0) {\n      return total === 1\n        ? `Requested charger could not be rented from ${stationid}`\n        : `No requested chargers were rented from ${stationid}`;\n    }\n    return `${successCount} of ${total} requested chargers were rented from ${stationid}`;\n  }\n\n  if (successCount === total) {\n    return total === 1\n      ? `Requested charger has been ejected from ${stationid}`\n      : `All requested chargers have been ejected from ${stationid}`;\n  }\n  if (successCount === 0) {\n    return total === 1\n      ? `Requested charger could not be ejected from ${stationid}`\n      : `No requested chargers were ejected from ${stationid}`;\n  }\n  return `${successCount} of ${total} requested chargers were ejected from ${stationid}`;\n}\n\nconst incoming = msg.payload || {};\nif (String(incoming.action || '').toLowerCase() !== 'vend') {\n  return null;\n}\n\nconst stationid = normalizeStationId(incoming.stationid || incoming.kiosk || parseStationId(msg.topic));\nconst moduleid = normalizeModuleId(incoming.moduleid || incoming.module);\nconst chargerid = Number(incoming.chargerid || incoming.sn || 0);\nconst now = Date.now();\nconst incomingKey = `vend:${stationid}:${moduleid}:${chargerid}`;\n\nif (!stationid || !moduleid || !Number.isFinite(chargerid) || chargerid <= 0) {\n  return null;\n}\n\nconst bulkRequests = pruneBulkRequests(flow.get(BULK_STORE_KEY) || {}, now);\nconst bulkMatches = pruneMatchQueues(flow.get(MATCH_STORE_KEY) || {}, now);\nconst recent = pruneRecent(flow.get(RECENT_KEY) || {}, now);\nconst match = findPendingMatch(bulkMatches, stationid, moduleid, chargerid);\nconst pending = match.pending;\n\nflow.set(MATCH_STORE_KEY, bulkMatches);\n\nif (!pending) {\n  if (recent[incomingKey]) {\n    flow.set(RECENT_KEY, recent);\n    return null;\n  }\n  flow.set(BULK_STORE_KEY, bulkRequests);\n  return null;\n}\n\nconst responseStationid = pending.stationid || stationid;\nconst responseModuleid = pending.moduleid || moduleid;\nconst responseKey = `vend:${responseStationid}:${responseModuleid}:${chargerid}`;\nrecent[incomingKey] = {\n  seenAt: now,\n  bulkRequestId: pending.bulkRequestId\n};\nrecent[responseKey] = {\n  seenAt: now,\n  bulkRequestId: pending.bulkRequestId\n};\nflow.set(RECENT_KEY, recent);\n\nconst aggregate = bulkRequests[pending.bulkRequestId];\nif (!aggregate) {\n  flow.set(BULK_STORE_KEY, bulkRequests);\n  return null;\n}\n\naggregate.completed = Number(aggregate.completed || 0) + 1;\nif (Number(incoming.status) === 1) {\n  aggregate.successCount = Number(aggregate.successCount || 0) + 1;\n} else {\n  aggregate.failureCount = Number(aggregate.failureCount || 0) + 1;\n}\naggregate.lastUpdatedAt = now;\n\nconst total = Number(aggregate.total || 0);\nif (!(total > 0) || Number(aggregate.completed) < total) {\n  bulkRequests[pending.bulkRequestId] = aggregate;\n  flow.set(BULK_STORE_KEY, bulkRequests);\n  return null;\n}\n\ndelete bulkRequests[pending.bulkRequestId];\nflow.set(BULK_STORE_KEY, bulkRequests);\n\nconst successCount = Number(aggregate.successCount || 0);\nconst failureCount = Number(aggregate.failureCount || Math.max(total - successCount, 0));\nconst aggregateStationId = normalizeStationId(aggregate.stationid || responseStationid || stationid);\nconst aggregateAction = String(aggregate.action || 'vend').trim() || 'vend';\nconst isSuccess = failureCount === 0 && successCount === total && total > 0;\nconst statusEn = buildSummaryMessage(aggregateAction, aggregateStationId, successCount, total);\n\nnode.warn(`V2 bulk ${aggregateAction} ${pending.bulkRequestId} completed for ${aggregateStationId}: ${successCount}/${total} successful`);\nmsg._session = aggregate.sessionValue || aggregate.sessionId;\nconst aggregateTimerequested = resolveTimestamp(aggregate.timerequested, now);\nconst timeresponded = resolveTimestamp(incoming.timeresponded, now);\n\nmsg.payload = {\n  action: aggregateAction,\n  stationid: aggregateStationId,\n  kiosk: aggregateStationId,\n  status: isSuccess ? 1 : 0,\n  status_en: statusEn,\n  requestId: pending.bulkRequestId,\n  timerequested: aggregateTimerequested,\n  timeresponded,\n  bulkPhase: 'completed',\n  selectedCount: total,\n  successCount,\n  failureCount\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3250,
        "y": 1800,
        "wires": [
            [
                "590392fc03398acc"
            ]
        ]
    }
]
