scripts/node-red-firmware-pac-sendfile-flow.json
[
  {
    "id": "fw-pac-sendfile-tab",
    "type": "tab",
    "label": "Firmware PAC sendFile",
    "disabled": false,
    "info": "Import-only Besiter firmware update flow. Metadata endpoints return the PAC package from the Node-RED VM and include a dashboard request id in the download URL when available. The stream route records range progress into firmwareUpdateSessions."
  },
  {
    "id": "fw-pac-sendfile-group",
    "type": "group",
    "z": "fw-pac-sendfile-tab",
    "name": "Firmware PAC metadata + VM streamed download with dashboard status",
    "style": {
      "label": true
    },
    "nodes": [
      "fw-pac-sendfile-comment",
      "fw-pac-sendfile-mcu-in",
      "fw-pac-sendfile-12b-in",
      "fw-pac-sendfile-12m-in",
      "fw-pac-sendfile-read-metadata",
      "fw-pac-sendfile-build-metadata",
      "fw-pac-sendfile-metadata-response",
      "fw-pac-sendfile-metadata-debug",
      "fw-pac-sendfile-metadata-status",
      "fw-pac-sendfile-download-in",
      "fw-pac-sendfile-download-session-in",
      "fw-pac-sendfile-download",
      "fw-pac-sendfile-download-status"
    ],
    "x": 34,
    "y": 39,
    "w": 1032,
    "h": 342
  },
  {
    "id": "fw-pac-sendfile-comment",
    "type": "comment",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Disable old firmware routes first. Metadata returns /firmware-stream/:requestId/20260409-Chargerent-1.1.1.0-OU-FOTA.pac and updates firmwareUpdateSessions.",
    "info": "",
    "x": 560,
    "y": 80,
    "wires": []
  },
  {
    "id": "fw-pac-sendfile-mcu-in",
    "type": "http in",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Firmware Update Info",
    "url": "/api/iot/app/version/publish/mcu",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "fw-pac-sendfile-read-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-12b-in",
    "type": "http in",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Firmware Update Info 12B",
    "url": "/api/iot/app/version/publish/mcu/12B",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 200,
    "wires": [
      [
        "fw-pac-sendfile-read-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-12m-in",
    "type": "http in",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Firmware Update Info 12M",
    "url": "/api/iot/app/version/publish/mcu/12M",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 260,
    "wires": [
      [
        "fw-pac-sendfile-read-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-read-metadata",
    "type": "file in",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Read PAC for size",
    "filename": "/home/george/.node-red/public/firmware/20260409-Chargerent-1.1.1.0-OU-FOTA.pac",
    "filenameType": "str",
    "format": "",
    "chunk": false,
    "sendError": true,
    "allProps": false,
    "x": 440,
    "y": 200,
    "wires": [
      [
        "fw-pac-sendfile-build-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-build-metadata",
    "type": "function",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Build firmware metadata",
    "func": "const fileName = \"20260409-Chargerent-1.1.1.0-OU-FOTA.pac\";\nconst publicBaseUrl = \"http://34.56.244.66:1880\";\nconst fileSize = Buffer.isBuffer(msg.payload) ? msg.payload.length : Number(msg.payload?.length || 0);\nconst req = msg.req || {};\nconst routePath = req.path || req.url || \"\";\nconst routeLower = routePath.toLowerCase();\nconst session = global.get('activeFirmwareUpdateSession') || {};\nconst requestId = String(session.requestId || '').trim();\nconst target = routeLower.includes('/12b') ? '12B' : (routeLower.includes('/12m') ? '12M' : (session.target || 'mcu'));\nconst fileUrl = requestId\n    ? publicBaseUrl + '/firmware-stream/' + encodeURIComponent(requestId) + '/' + encodeURIComponent(fileName)\n    : publicBaseUrl + '/firmware-stream/' + encodeURIComponent(fileName);\n\nif (!fileSize) {\n    msg.statusCode = 500;\n    msg.headers = { \"Content-Type\": \"application/json; charset=utf-8\" };\n    msg.payload = {\n        code: 500,\n        type: 0,\n        data: \"\",\n        msg: \"Firmware file is missing or empty\",\n        time: Date.now()\n    };\n    return [msg, null];\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"Content-Type\": \"application/json; charset=utf-8\",\n    \"Cache-Control\": \"no-store\"\n};\nmsg.payload = {\n    code: 200,\n    type: 0,\n    data: fileName + ',' + fileSize + ',' + fileUrl,\n    msg: \"ok\",\n    time: Date.now()\n};\n\nlet statusMessage = null;\nif (requestId) {\n    const now = Date.now();\n    const updatedSession = {\n        ...session,\n        active: true,\n        requestId,\n        target,\n        fileName,\n        size: fileSize,\n        status: 'metadata_requested',\n        phase: 'metadata_requested',\n        statusLabel: 'Module requested firmware metadata',\n        metadataPath: routePath,\n        metadataUrl: fileUrl,\n        updatedAtMillis: now,\n        metadataRequestedAt: new Date(now).toISOString()\n    };\n    global.set('activeFirmwareUpdateSession', updatedSession);\n    global.set('firmwareUpdateSessionByRequestId:' + requestId, updatedSession);\n    if (updatedSession.stationid && updatedSession.moduleid) {\n        global.set('firmwareUpdateSession:' + updatedSession.stationid + ':' + updatedSession.moduleid, updatedSession);\n    }\n    statusMessage = {\n        payload: {\n            path: 'firmwareUpdateSessions/' + requestId,\n            content: updatedSession\n        }\n    };\n}\n\nnode.warn('Firmware metadata ' + routePath + ': ' + msg.payload.data);\nreturn [msg, statusMessage];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 200,
    "wires": [
      [
        "fw-pac-sendfile-metadata-response",
        "fw-pac-sendfile-metadata-debug"
      ],
      [
        "fw-pac-sendfile-metadata-status"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-metadata-response",
    "type": "http response",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "fw-pac-sendfile-metadata-debug",
    "type": "debug",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "firmware metadata response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 960,
    "y": 220,
    "wires": []
  },
  {
    "id": "fw-pac-sendfile-download-in",
    "type": "http in",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Stream PAC firmware fallback",
    "url": "/firmware-stream/20260409-Chargerent-1.1.1.0-OU-FOTA.pac",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 340,
    "wires": [
      [
        "fw-pac-sendfile-download"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-download",
    "type": "function",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Send PAC with res.sendFile",
    "func": "const fileName = \"20260409-Chargerent-1.1.1.0-OU-FOTA.pac\";\nconst fileSize = 374957;\nconst filePath = \"/home/george/.node-red/public/firmware/\" + fileName;\nconst req = msg.req || {};\nconst res = msg.res && (msg.res._res || msg.res);\nconst headers = req.headers || {};\nconst remoteAddress = req.ip || req.connection?.remoteAddress || req.socket?.remoteAddress || \"unknown\";\nconst userAgent = headers['user-agent'] || headers['User-Agent'] || '';\nconst range = headers.range || \"full\";\nconst routeRequestId = req.params?.requestId || '';\nconst requestId = String(routeRequestId || global.get('activeFirmwareUpdateSession')?.requestId || '').trim();\n\nfunction parseRangeHeader(rangeHeader) {\n    const match = String(rangeHeader || '').match(/^bytes=(\\d*)-(\\d*)$/i);\n    if (!match) {\n        return { start: 0, end: fileSize - 1, full: true };\n    }\n\n    const start = match[1] === '' ? 0 : Number(match[1]);\n    const end = match[2] === '' ? fileSize - 1 : Number(match[2]);\n    return {\n        start: Number.isFinite(start) ? Math.max(0, start) : 0,\n        end: Number.isFinite(end) ? Math.min(fileSize - 1, end) : fileSize - 1,\n        full: false\n    };\n}\n\nfunction buildStatusMessage(status, statusLabel, extra = {}) {\n    if (!requestId) return null;\n    const now = Date.now();\n    const session = global.get('firmwareUpdateSessionByRequestId:' + requestId) || global.get('activeFirmwareUpdateSession') || {};\n    const content = {\n        ...session,\n        active: true,\n        requestId,\n        stationid: session.stationid || session.stationId || '',\n        stationId: session.stationid || session.stationId || '',\n        moduleid: session.moduleid || session.moduleId || '',\n        moduleId: session.moduleid || session.moduleId || '',\n        target: session.target || 'mcu',\n        fileName,\n        size: fileSize,\n        status,\n        phase: status,\n        statusLabel,\n        remoteAddress,\n        userAgent,\n        lastRange: range,\n        updatedAtMillis: now,\n        lastDownloadAt: new Date(now).toISOString(),\n        ...extra\n    };\n    Object.keys(content).forEach((key) => {\n        if (content[key] === undefined) {\n            delete content[key];\n        }\n    });\n    global.set('firmwareUpdateSessionByRequestId:' + requestId, content);\n    global.set('activeFirmwareUpdateSession', content);\n    if (content.stationid && content.moduleid) {\n        global.set('firmwareUpdateSession:' + content.stationid + ':' + content.moduleid, content);\n    }\n    return {\n        payload: {\n            path: 'firmwareUpdateSessions/' + requestId,\n            content\n        }\n    };\n}\n\nnode.warn('Firmware stream requested by ' + remoteAddress + ' range=' + range + ' requestId=' + (requestId || 'n/a'));\n\nif (!res || typeof res.sendFile !== \"function\") {\n    node.error(\"HTTP response object does not expose res.sendFile(); cannot stream firmware\", msg);\n    msg.statusCode = 500;\n    msg.headers = { \"Content-Type\": \"text/plain; charset=utf-8\" };\n    msg.payload = \"Firmware streaming is not available on this Node-RED response object\";\n    return msg;\n}\n\nconst responseHeaders = {\n    \"Content-Type\": \"application/octet-stream\",\n    \"Cache-Control\": \"no-store\",\n    \"Accept-Ranges\": \"bytes\",\n    \"X-Firmware-File\": fileName,\n    \"X-Firmware-Request-Id\": requestId || \"manual\"\n};\n\nres.sendFile(filePath, { headers: responseHeaders }, (error) => {\n    const parsedRange = parseRangeHeader(range);\n    const bytesDownloaded = Math.min(fileSize, parsedRange.end + 1);\n    const percent = Math.max(0, Math.min(100, Math.round((bytesDownloaded / fileSize) * 100)));\n    const complete = parsedRange.end >= fileSize - 1;\n\n    if (error) {\n        node.error('Firmware stream failed for ' + fileName + ': ' + error.message, msg);\n        node.send(buildStatusMessage('failed_download', 'Firmware download failed at ' + percent + '%', {\n            bytesDownloaded,\n            percent,\n            downloadComplete: false,\n            error: error.message\n        }));\n        try {\n            if (!res.headersSent) {\n                res.status(error.statusCode || error.status || 500).send(\"Firmware download failed\");\n            }\n        } catch (sendError) {\n            node.error('Firmware stream error response failed: ' + sendError.message);\n        }\n        return;\n    }\n\n    const lastPercentKey = 'firmwareUpdateLastPercent:' + requestId;\n    const previousPercent = Number(global.get(lastPercentKey));\n    const shouldWriteStatus = requestId && (complete || previousPercent !== percent || percent === 0);\n    global.set(lastPercentKey, percent);\n\n    node.warn('Firmware stream completed for ' + remoteAddress + ' range=' + range + ' requestId=' + (requestId || 'n/a') + ' percent=' + percent);\n\n    if (shouldWriteStatus) {\n        node.send(buildStatusMessage(\n            complete ? 'download_complete' : 'downloading',\n            complete ? 'Firmware file downloaded by module' : 'Downloading firmware ' + percent + '%',\n            {\n                bytesDownloaded,\n                percent,\n                downloadComplete: complete,\n                downloadCompletedAt: complete ? new Date().toISOString() : undefined\n            }\n        ));\n    }\n});\n\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 340,
    "wires": [
      [
        "fw-pac-sendfile-download-status"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-download-session-in",
    "type": "http in",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "name": "Stream PAC firmware by session",
    "url": "/firmware-stream/:requestId/:fileName",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 400,
    "wires": [
      [
        "fw-pac-sendfile-download"
      ]
    ]
  },
  {
    "id": "fw-pac-sendfile-metadata-status",
    "type": "google-cloud-firestore",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "account": "",
    "keyFilename": "/home/george/firestore/firestore-key.json",
    "name": "Record firmware metadata status",
    "projectId": "node-red-alerts",
    "mode": "update",
    "x": 980,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "fw-pac-sendfile-download-status",
    "type": "google-cloud-firestore",
    "z": "fw-pac-sendfile-tab",
    "g": "fw-pac-sendfile-group",
    "account": "",
    "keyFilename": "/home/george/firestore/firestore-key.json",
    "name": "Record firmware download status",
    "projectId": "node-red-alerts",
    "mode": "update",
    "x": 720,
    "y": 360,
    "wires": [
      []
    ]
  }
]
