scripts/node-red-firmware-pac-download-flow.json
[
  {
    "id": "fw-pac-download-tab",
    "type": "tab",
    "label": "Firmware PAC update",
    "disabled": false,
    "info": "Import-only Node-RED flow for Besiter MCU firmware update. Metadata endpoints /mcu, /mcu/12B, and /mcu/12M all return the same PAC package. The returned URL points to a logged Node-RED download endpoint that serves application/octet-stream instead of relying on the static .pac MIME type."
  },
  {
    "id": "fw-pac-download-group",
    "type": "group",
    "z": "fw-pac-download-tab",
    "name": "Firmware PAC metadata + logged download",
    "style": {
      "label": true
    },
    "nodes": [
      "fw-pac-comment",
      "fw-pac-mcu-in",
      "fw-pac-12b-in",
      "fw-pac-12m-in",
      "fw-pac-read-metadata",
      "fw-pac-build-metadata",
      "fw-pac-metadata-response",
      "fw-pac-metadata-debug",
      "fw-pac-download-in",
      "fw-pac-download-start",
      "fw-pac-read-download",
      "fw-pac-download-response-build",
      "fw-pac-download-response",
      "fw-pac-download-debug"
    ],
    "x": 34,
    "y": 39,
    "w": 1052,
    "h": 402
  },
  {
    "id": "fw-pac-comment",
    "type": "comment",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Delete/disable the old firmware update HTTP nodes before deploying this group. All metadata endpoints return the logged /firmware-download/... URL.",
    "info": "",
    "x": 560,
    "y": 80,
    "wires": []
  },
  {
    "id": "fw-pac-mcu-in",
    "type": "http in",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Firmware Update Info",
    "url": "/api/iot/app/version/publish/mcu",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "fw-pac-read-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-12b-in",
    "type": "http in",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Firmware Update Info 12B",
    "url": "/api/iot/app/version/publish/mcu/12B",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 200,
    "wires": [
      [
        "fw-pac-read-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-12m-in",
    "type": "http in",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Firmware Update Info 12M",
    "url": "/api/iot/app/version/publish/mcu/12M",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 260,
    "wires": [
      [
        "fw-pac-read-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-read-metadata",
    "type": "file in",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Read PAC for size",
    "filename": "/home/george/.node-red/public/firmware/20260409-Chargerent-1.1.1.0-OU-FOTA.pac",
    "filenameType": "str",
    "format": "",
    "chunk": false,
    "sendError": true,
    "allProps": false,
    "x": 440,
    "y": 200,
    "wires": [
      [
        "fw-pac-build-metadata"
      ]
    ]
  },
  {
    "id": "fw-pac-build-metadata",
    "type": "function",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Build firmware metadata",
    "func": "const fileName = \"20260409-Chargerent-1.1.1.0-OU-FOTA.pac\";\nconst publicBaseUrl = \"http://34.56.244.66:1880\";\nconst fileUrl = publicBaseUrl + \"/firmware-download/\" + encodeURIComponent(fileName);\nconst fileSize = Buffer.isBuffer(msg.payload) ? msg.payload.length : Number(msg.payload?.length || 0);\n\nif (!fileSize) {\n    msg.statusCode = 500;\n    msg.headers = { \"Content-Type\": \"application/json; charset=utf-8\" };\n    msg.payload = {\n        code: 500,\n        type: 0,\n        data: \"\",\n        msg: \"Firmware file is missing or empty\",\n        time: Date.now()\n    };\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    \"Content-Type\": \"application/json; charset=utf-8\",\n    \"Cache-Control\": \"no-store\"\n};\nmsg.payload = {\n    code: 200,\n    type: 0,\n    data: `${fileName},${fileSize},${fileUrl}`,\n    msg: \"ok\",\n    time: Date.now()\n};\n\nnode.warn(`Firmware metadata ${msg.req?.path || msg.req?.url || \"\"}: ${msg.payload.data}`);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 200,
    "wires": [
      [
        "fw-pac-metadata-response",
        "fw-pac-metadata-debug"
      ]
    ]
  },
  {
    "id": "fw-pac-metadata-response",
    "type": "http response",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "fw-pac-metadata-debug",
    "type": "debug",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "firmware metadata response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 960,
    "y": 220,
    "wires": []
  },
  {
    "id": "fw-pac-download-in",
    "type": "http in",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Download PAC firmware",
    "url": "/firmware-download/20260409-Chargerent-1.1.1.0-OU-FOTA.pac",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 360,
    "wires": [
      [
        "fw-pac-download-start"
      ]
    ]
  },
  {
    "id": "fw-pac-download-start",
    "type": "function",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Log download request",
    "func": "const headers = msg.req?.headers || {};\nconst remoteAddress = msg.req?.ip || msg.req?.connection?.remoteAddress || msg.req?.socket?.remoteAddress || \"\";\nmsg._firmwareDownload = {\n    fileName: \"20260409-Chargerent-1.1.1.0-OU-FOTA.pac\",\n    requestedAt: new Date().toISOString(),\n    method: msg.req?.method || \"GET\",\n    url: msg.req?.originalUrl || msg.req?.url || \"\",\n    remoteAddress,\n    userAgent: headers[\"user-agent\"] || \"\",\n    range: headers.range || \"\"\n};\nnode.warn(`Firmware download requested by ${remoteAddress || \"unknown\"} ${msg._firmwareDownload.range ? \"range=\" + msg._firmwareDownload.range : \"full\"}`);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 360,
    "wires": [
      [
        "fw-pac-read-download"
      ]
    ]
  },
  {
    "id": "fw-pac-read-download",
    "type": "file in",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Read PAC download",
    "filename": "/home/george/.node-red/public/firmware/20260409-Chargerent-1.1.1.0-OU-FOTA.pac",
    "filenameType": "str",
    "format": "",
    "chunk": false,
    "sendError": true,
    "allProps": false,
    "x": 650,
    "y": 360,
    "wires": [
      [
        "fw-pac-download-response-build"
      ]
    ]
  },
  {
    "id": "fw-pac-download-response-build",
    "type": "function",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "Return PAC as octet-stream",
    "func": "const fileName = \"20260409-Chargerent-1.1.1.0-OU-FOTA.pac\";\nconst buffer = Buffer.isBuffer(msg.payload) ? msg.payload : Buffer.from(msg.payload || []);\nconst total = buffer.length;\nconst headers = msg.req?.headers || {};\nconst range = String(headers.range || \"\").trim();\n\nif (!total) {\n    msg.statusCode = 500;\n    msg.headers = { \"Content-Type\": \"text/plain; charset=utf-8\" };\n    msg.payload = \"Firmware file is missing or empty\";\n    return msg;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/octet-stream\",\n    \"Accept-Ranges\": \"bytes\",\n    \"Cache-Control\": \"no-store\",\n    \"X-Firmware-File\": fileName\n};\n\nif (range) {\n    const match = range.match(/^bytes=(\\d*)-(\\d*)$/);\n    if (!match) {\n        msg.statusCode = 416;\n        msg.headers[\"Content-Range\"] = `bytes */${total}`;\n        msg.headers[\"Content-Length\"] = \"0\";\n        msg.payload = Buffer.alloc(0);\n        return msg;\n    }\n\n    let start = match[1] === \"\" ? 0 : Number(match[1]);\n    let end = match[2] === \"\" ? total - 1 : Number(match[2]);\n    if (!Number.isFinite(start) || !Number.isFinite(end) || start < 0 || end < start || start >= total) {\n        msg.statusCode = 416;\n        msg.headers[\"Content-Range\"] = `bytes */${total}`;\n        msg.headers[\"Content-Length\"] = \"0\";\n        msg.payload = Buffer.alloc(0);\n        return msg;\n    }\n\n    end = Math.min(end, total - 1);\n    msg.statusCode = 206;\n    msg.payload = buffer.slice(start, end + 1);\n    msg.headers[\"Content-Range\"] = `bytes ${start}-${end}/${total}`;\n    msg.headers[\"Content-Length\"] = String(msg.payload.length);\n    node.warn(`Firmware download served range ${start}-${end}/${total}`);\n    return msg;\n}\n\nmsg.statusCode = 200;\nmsg.headers[\"Content-Length\"] = String(total);\nmsg.payload = buffer;\nnode.warn(`Firmware download served full file ${fileName}, ${total} bytes`);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 360,
    "wires": [
      [
        "fw-pac-download-response",
        "fw-pac-download-debug"
      ]
    ]
  },
  {
    "id": "fw-pac-download-response",
    "type": "http response",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1180,
    "y": 340,
    "wires": []
  },
  {
    "id": "fw-pac-download-debug",
    "type": "debug",
    "z": "fw-pac-download-tab",
    "g": "fw-pac-download-group",
    "name": "firmware download served",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "_firmwareDownload",
    "targetType": "msg",
    "x": 1190,
    "y": 380,
    "wires": []
  }
]
