scripts/update-module-v2-import.json
[
  {
    "id": "63ce06fa66ef4534",
    "type": "tab",
    "label": "Update Module V2",
    "disabled": false,
    "info": "Importable V2 module update trigger flow for dashboard -> MQTT.",
    "env": []
  },
  {
    "id": "1f9444375bb5d1d0",
    "type": "comment",
    "z": "63ce06fa66ef4534",
    "name": "Connect the authenticated dashboard command stream into the switch below. Output 1 is MQTT, output 2 is dashboard websocket response, output 3 records firmware update session status.",
    "info": "",
    "x": 880,
    "y": 80,
    "wires": []
  },
  {
    "id": "620c988825661736",
    "type": "switch",
    "z": "63ce06fa66ef4534",
    "name": "Route V2 module update",
    "property": "command.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "update module",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 330,
    "y": 160,
    "wires": [
      [
        "fbe1fc42b6f84c1d"
      ]
    ]
  },
  {
    "id": "fbe1fc42b6f84c1d",
    "type": "function",
    "z": "63ce06fa66ef4534",
    "name": "Prepare Update Lookup",
    "func": "const ID_MAP = {\n    'CS0001': 'USB0001',\n    'CS0002': 'CAB0001',\n    'CS0003': 'CAB0002',\n    'CS0004': 'CAB0003',\n    'CS0005': 'CAB0004',\n    'CS0006': 'CAB0005',\n    'CS0007': 'CAB0006',\n    'CS0008': 'CAB0007',\n    'CS0009': 'CAB0008',\n    'CS0010': 'CAB0009',\n    'CS0011': 'CAB0010'\n};\n\nfunction normalizeStationId(value) {\n    const stationid = String(value || '').trim();\n    return ID_MAP[stationid] || stationid;\n}\n\nconst authUser = msg._authContext?.user || (msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload) ? JSON.parse(JSON.stringify(msg.payload)) : null);\nconst command = (msg.command && typeof msg.command === 'object') ? JSON.parse(JSON.stringify(msg.command)) : {};\nconst stationid = normalizeStationId(command.stationid || msg.stationid || '');\nconst moduleid = String(command.moduleid || command.moduleId || '').trim();\n\nif (!stationid) {\n    node.error('Update module command is missing stationid', msg);\n    return null;\n}\n\nif (!moduleid) {\n    node.error('Update module command is missing moduleid', msg);\n    return null;\n}\n\nmsg._updateModuleAuthUser = authUser;\nmsg._updateModuleCommand = command;\nmsg._updateModuleStationId = stationid;\nmsg._updateModuleId = moduleid;\nmsg.payload = {\n    path: 'kiosks',\n    query: [{ fieldPath: 'stationid', opStr: '==', value: stationid }]\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 160,
    "wires": [
      [
        "26df151aa6734f05"
      ]
    ]
  },
  {
    "id": "26df151aa6734f05",
    "type": "google-cloud-firestore",
    "z": "63ce06fa66ef4534",
    "account": "",
    "keyFilename": "/home/george/firestore/firestore-key.json",
    "name": "Query kiosk for module update",
    "projectId": "node-red-alerts",
    "mode": "query",
    "x": 820,
    "y": 160,
    "wires": [
      [
        "3c0c486d9b7d4e19"
      ]
    ]
  },
  {
    "id": "3c0c486d9b7d4e19",
    "type": "function",
    "z": "63ce06fa66ef4534",
    "name": "Resolve Kiosk For Update",
    "func": "const ID_MAP = {\n    'CS0001': 'USB0001',\n    'CS0002': 'CAB0001',\n    'CS0003': 'CAB0002',\n    'CS0004': 'CAB0003',\n    'CS0005': 'CAB0004',\n    'CS0006': 'CAB0005',\n    'CS0007': 'CAB0006',\n    'CS0008': 'CAB0007',\n    'CS0009': 'CAB0008',\n    'CS0010': 'CAB0009',\n    'CS0011': 'CAB0010'\n};\n\nfunction normalizeStationId(value) {\n    const stationid = String(value || '').trim();\n    return ID_MAP[stationid] || stationid;\n}\n\nconst docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst stationid = normalizeStationId(msg._updateModuleStationId || '');\nconst matched = docs.find((doc) => normalizeStationId(doc?.stationid || '') === stationid) || null;\n\nmsg.kioskDoc = matched ? JSON.parse(JSON.stringify(matched)) : null;\nmsg.stationid = (matched && matched.stationid) || stationid;\nmsg.command = msg._updateModuleCommand || msg.command || {};\nmsg.payload = msg._updateModuleCommand || {};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1070,
    "y": 160,
    "wires": [
      [
        "a8f3ef7cfb906cd1"
      ]
    ]
  },
  {
    "id": "a8f3ef7cfb906cd1",
    "type": "function",
    "z": "63ce06fa66ef4534",
    "name": "Prepare direct module update",
    "func": "const V2_TYPES = new Set(['CT3', 'CT4', 'CT8', 'CT12', 'CK48']);\nconst ONLINE_WINDOW_MS = 10 * 60 * 1000;\nconst ID_MAP = {\n    'CS0001': 'USB0001',\n    'CS0002': 'CAB0001',\n    'CS0003': 'CAB0002',\n    'CS0004': 'CAB0003',\n    'CS0005': 'CAB0004',\n    'CS0006': 'CAB0005',\n    'CS0007': 'CAB0006',\n    'CS0008': 'CAB0007',\n    'CS0009': 'CAB0008',\n    'CS0010': 'CAB0009',\n    'CS0011': 'CAB0010'\n};\n\nfunction parseTimestamp(value) {\n    if (!value) return null;\n    const parsed = new Date(value);\n    return Number.isNaN(parsed.getTime()) ? null : parsed;\n}\n\nfunction normalizeStationId(value) {\n    const stationid = String(value || '').trim();\n    return ID_MAP[stationid] || stationid;\n}\n\nfunction normalizeModuleId(value) {\n    return String(value || '').trim();\n}\n\nfunction modulesMatch(left, right) {\n    const a = normalizeModuleId(left);\n    const b = normalizeModuleId(right);\n    if (!a || !b) return false;\n    if (a === b) return true;\n    return a.replace(/^1000/, '') === b.replace(/^1000/, '');\n}\n\nfunction buildResponse(sessionValue, command, status, statusEn) {\n    return {\n        _session: sessionValue,\n        payload: {\n            action: 'update module',\n            stationid: command.stationid,\n            moduleid: command.moduleid,\n            status,\n            status_en: statusEn,\n            requestId: command.requestId,\n            timerequested: command.timerequested,\n            timeresponded: Date.now()\n        }\n    };\n}\n\nfunction normalizeFirmwareTarget(value) {\n    const target = String(value || '').trim().toLowerCase();\n    if (target === '12b') return '12B';\n    if (target === '12m') return '12M';\n    if (target === 'mcu') return 'mcu';\n    return '12B';\n}\n\nfunction firmwareSessionWrite(session) {\n    if (!session || !session.requestId) return null;\n    return {\n        payload: {\n            path: 'firmwareUpdateSessions/' + session.requestId,\n            content: session\n        }\n    };\n}\n\nconst authUser = msg._updateModuleAuthUser || msg._authContext?.user || null;\nconst command = (msg._updateModuleCommand && typeof msg._updateModuleCommand === 'object')\n    ? msg._updateModuleCommand\n    : (msg.command || {});\nconst sessionValue = msg._session || command.admin || null;\nconst sessionId = msg._session?.id || msg._session || command.admin || null;\nconst stationid = normalizeStationId(msg.stationid || msg._updateModuleStationId || command.stationid || '');\nconst moduleid = normalizeModuleId(command.moduleid || command.moduleId || msg._updateModuleId);\nconst now = Date.now();\nconst normalizedCommand = {\n    ...command,\n    stationid,\n    moduleid,\n    requestId: String(command.requestId || command.firmwareSessionId || command.firmware?.sessionId || command.firmware?.requestId || ('update-module-' + stationid + '-' + moduleid + '-' + now)),\n    timerequested: Number(command.timerequested || now)\n};\n\nif (!authUser) {\n    node.warn('Update module flow requires authenticated dashboard context');\n    return [null, null, null];\n}\n\nconst isAdmin = authUser.role === 'admin' || authUser.username === 'chargerent';\nif (!isAdmin && authUser.commands?.updates !== true) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Permission denied'), null];\n}\n\nif (!stationid || !moduleid) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Missing stationid or moduleid'), null];\n}\n\nconst kiosk = msg.kioskDoc || null;\nif (!kiosk) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Kiosk ' + stationid + ' not found'), null];\n}\n\nconst hardwareType = String(kiosk?.hardware?.type || '').toUpperCase();\nconst isV2 = kiosk?.isNewSchema === true || V2_TYPES.has(hardwareType);\nif (!isV2) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, stationid + ' is not a V2 kiosk'), null];\n}\n\nconst modules = Array.isArray(kiosk?.modules) ? kiosk.modules : [];\nconst targetModule = modules.find((module) => modulesMatch(module?.id, moduleid));\nif (!targetModule) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Module ' + moduleid + ' is not bound to ' + stationid), null];\n}\n\nconst lastUpdated = parseTimestamp(targetModule?.lastUpdated || kiosk?.lastUpdated || kiosk?.timestamp);\nif (!lastUpdated || (now - lastUpdated.getTime()) > ONLINE_WINDOW_MS) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Module ' + targetModule.id + ' is offline'), null];\n}\n\nconst publishMessage = {\n    topic: '/' + stationid + '/' + targetModule.id + '/user/get',\n    payload: JSON.stringify({\n        cmd: 'push_version_publish',\n        data: ''\n    }),\n    qos: '1',\n    retain: false\n};\n\nconst firmware = normalizedCommand.firmware && typeof normalizedCommand.firmware === 'object'\n    ? normalizedCommand.firmware\n    : {};\nconst firmwareRequestId = String(normalizedCommand.firmwareSessionId || firmware.sessionId || firmware.requestId || normalizedCommand.requestId || '').trim();\nlet firmwareStatusMessage = null;\n\nif (firmwareRequestId) {\n    const firmwareSession = {\n        active: true,\n        requestId: firmwareRequestId,\n        stationid,\n        stationId: stationid,\n        moduleid: targetModule.id,\n        moduleId: targetModule.id,\n        target: normalizeFirmwareTarget(firmware.target),\n        fileName: String(firmware.fileName || '').trim(),\n        version: String(firmware.version || '').trim(),\n        size: Number(firmware.size || 0),\n        releaseId: String(firmware.release?.id || firmware.releaseId || '').trim(),\n        status: 'command_sent',\n        phase: 'command_sent',\n        statusLabel: 'Update command sent to ' + targetModule.id,\n        commandTopic: publishMessage.topic,\n        commandPayload: publishMessage.payload,\n        bytesDownloaded: 0,\n        percent: 0,\n        downloadComplete: false,\n        installConfirmed: false,\n        updatedAtMillis: now,\n        commandSentAt: new Date(now).toISOString()\n    };\n\n    global.set('activeFirmwareUpdateSession', firmwareSession);\n    global.set('firmwareUpdateSession:' + stationid + ':' + targetModule.id, firmwareSession);\n    global.set('firmwareUpdateSessionByRequestId:' + firmwareRequestId, firmwareSession);\n    firmwareStatusMessage = firmwareSessionWrite(firmwareSession);\n}\n\nconst responseMessage = buildResponse(\n    sessionValue,\n    { ...normalizedCommand, moduleid: targetModule.id, requestId: firmwareRequestId || normalizedCommand.requestId },\n    1,\n    'Module update requested for ' + targetModule.id\n);\n\nnode.warn('Dashboard requested module update ' + normalizedCommand.requestId + ' for ' + stationid + '/' + targetModule.id + ' on user/get (session ' + (sessionId || 'n/a') + ', firmware session ' + (firmwareRequestId || 'n/a') + ')');\n\nreturn [publishMessage, responseMessage, firmwareStatusMessage];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1330,
    "y": 160,
    "wires": [
      [],
      [],
      [
        "record-firmware-command-status"
      ]
    ]
  },
  {
    "id": "e72f25150775df9c",
    "type": "comment",
    "z": "63ce06fa66ef4534",
    "name": "Output 1 -> existing MQTT out publishing Besiter receive topics",
    "info": "",
    "x": 1640,
    "y": 140,
    "wires": []
  },
  {
    "id": "27e1d0e272ec2ad2",
    "type": "comment",
    "z": "63ce06fa66ef4534",
    "name": "Output 2 -> existing websocket response / dashboard reply path",
    "info": "",
    "x": 1620,
    "y": 180,
    "wires": []
  },
  {
    "id": "record-firmware-command-status",
    "type": "google-cloud-firestore",
    "z": "63ce06fa66ef4534",
    "account": "",
    "keyFilename": "/home/george/firestore/firestore-key.json",
    "name": "Record firmware command status",
    "projectId": "node-red-alerts",
    "mode": "update",
    "x": 1640,
    "y": 220,
    "wires": [
      []
    ]
  }
]
