scripts/update-module-v2-import.json
[
    {
        "id": "63ce06fa66ef4534",
        "type": "tab",
        "label": "Update Module V2",
        "disabled": false,
        "info": "Importable V2 module update trigger flow for dashboard -> MQTT.",
        "env": []
    },
    {
        "id": "1f9444375bb5d1d0",
        "type": "comment",
        "z": "63ce06fa66ef4534",
        "name": "Connect the same authenticated dashboard command stream you use for kiosk actions into the switch below. Wire output 1 to your Besiter MQTT out node and output 2 to your dashboard websocket response path.",
        "info": "",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "620c988825661736",
        "type": "switch",
        "z": "63ce06fa66ef4534",
        "name": "Route V2 module update",
        "property": "command.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "update module",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "fbe1fc42b6f84c1d"
            ]
        ]
    },
    {
        "id": "fbe1fc42b6f84c1d",
        "type": "function",
        "z": "63ce06fa66ef4534",
        "name": "Prepare Update Lookup",
        "func": "const ID_MAP = {\n    'CS0001': 'USB0001',\n    'CS0002': 'CAB0001',\n    'CS0003': 'CAB0002',\n    'CS0004': 'CAB0003',\n    'CS0005': 'CAB0004',\n    'CS0006': 'CAB0005',\n    'CS0007': 'CAB0006',\n    'CS0008': 'CAB0007',\n    'CS0009': 'CAB0008',\n    'CS0010': 'CAB0009',\n    'CS0011': 'CAB0010'\n};\n\nfunction normalizeStationId(value) {\n    const stationid = String(value || '').trim();\n    return ID_MAP[stationid] || stationid;\n}\n\nconst authUser = msg._authContext?.user || (msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload) ? JSON.parse(JSON.stringify(msg.payload)) : null);\nconst command = (msg.command && typeof msg.command === 'object') ? JSON.parse(JSON.stringify(msg.command)) : {};\nconst stationid = normalizeStationId(command.stationid || msg.stationid || '');\nconst moduleid = String(command.moduleid || command.moduleId || '').trim();\n\nif (!stationid) {\n    node.error('Update module command is missing stationid', msg);\n    return null;\n}\n\nif (!moduleid) {\n    node.error('Update module command is missing moduleid', msg);\n    return null;\n}\n\nmsg._updateModuleAuthUser = authUser;\nmsg._updateModuleCommand = command;\nmsg._updateModuleStationId = stationid;\nmsg._updateModuleId = moduleid;\nmsg.payload = {\n    path: 'kiosks',\n    query: [{ fieldPath: 'stationid', opStr: '==', value: stationid }]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "26df151aa6734f05"
            ]
        ]
    },
    {
        "id": "26df151aa6734f05",
        "type": "google-cloud-firestore",
        "z": "63ce06fa66ef4534",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Query kiosk for module update",
        "projectId": "node-red-alerts",
        "mode": "query",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "3c0c486d9b7d4e19"
            ]
        ]
    },
    {
        "id": "3c0c486d9b7d4e19",
        "type": "function",
        "z": "63ce06fa66ef4534",
        "name": "Resolve Kiosk For Update",
        "func": "const ID_MAP = {\n    'CS0001': 'USB0001',\n    'CS0002': 'CAB0001',\n    'CS0003': 'CAB0002',\n    'CS0004': 'CAB0003',\n    'CS0005': 'CAB0004',\n    'CS0006': 'CAB0005',\n    'CS0007': 'CAB0006',\n    'CS0008': 'CAB0007',\n    'CS0009': 'CAB0008',\n    'CS0010': 'CAB0009',\n    'CS0011': 'CAB0010'\n};\n\nfunction normalizeStationId(value) {\n    const stationid = String(value || '').trim();\n    return ID_MAP[stationid] || stationid;\n}\n\nconst docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst stationid = normalizeStationId(msg._updateModuleStationId || '');\nconst matched = docs.find((doc) => normalizeStationId(doc?.stationid || '') === stationid) || null;\n\nmsg.kioskDoc = matched ? JSON.parse(JSON.stringify(matched)) : null;\nmsg.stationid = (matched && matched.stationid) || stationid;\nmsg.command = msg._updateModuleCommand || msg.command || {};\nmsg.payload = msg._updateModuleCommand || {};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 160,
        "wires": [
            [
                "a8f3ef7cfb906cd1"
            ]
        ]
    },
    {
        "id": "a8f3ef7cfb906cd1",
        "type": "function",
        "z": "63ce06fa66ef4534",
        "name": "Prepare direct module update",
        "func": "const V2_TYPES = new Set(['CT3', 'CT4', 'CT8', 'CT12', 'CK48']);\nconst ONLINE_WINDOW_MS = 10 * 60 * 1000;\nconst ID_MAP = {\n    'CS0001': 'USB0001',\n    'CS0002': 'CAB0001',\n    'CS0003': 'CAB0002',\n    'CS0004': 'CAB0003',\n    'CS0005': 'CAB0004',\n    'CS0006': 'CAB0005',\n    'CS0007': 'CAB0006',\n    'CS0008': 'CAB0007',\n    'CS0009': 'CAB0008',\n    'CS0010': 'CAB0009',\n    'CS0011': 'CAB0010'\n};\n\nfunction parseTimestamp(value) {\n    if (!value) return null;\n    const parsed = new Date(value);\n    return Number.isNaN(parsed.getTime()) ? null : parsed;\n}\n\nfunction normalizeStationId(value) {\n    const stationid = String(value || '').trim();\n    return ID_MAP[stationid] || stationid;\n}\n\nfunction normalizeModuleId(value) {\n    return String(value || '').trim();\n}\n\nfunction modulesMatch(left, right) {\n    const a = normalizeModuleId(left);\n    const b = normalizeModuleId(right);\n    if (!a || !b) return false;\n    if (a === b) return true;\n    return a.replace(/^1000/, '') === b.replace(/^1000/, '');\n}\n\nfunction buildResponse(sessionValue, command, status, statusEn) {\n    return {\n        _session: sessionValue,\n        payload: {\n            action: 'update module',\n            stationid: command.stationid,\n            moduleid: command.moduleid,\n            status,\n            status_en: statusEn,\n            requestId: command.requestId,\n            timerequested: command.timerequested,\n            timeresponded: Date.now()\n        }\n    };\n}\n\nconst authUser = msg._updateModuleAuthUser || msg._authContext?.user || null;\nconst command = (msg._updateModuleCommand && typeof msg._updateModuleCommand === 'object')\n    ? msg._updateModuleCommand\n    : (msg.command || {});\nconst sessionValue = msg._session || command.admin || null;\nconst sessionId = msg._session?.id || msg._session || command.admin || null;\nconst stationid = normalizeStationId(msg.stationid || msg._updateModuleStationId || command.stationid || '');\nconst moduleid = normalizeModuleId(command.moduleid || command.moduleId || msg._updateModuleId);\nconst now = Date.now();\nconst normalizedCommand = {\n    ...command,\n    stationid,\n    moduleid,\n    requestId: String(command.requestId || `update-module-${stationid}-${moduleid}-${now}`),\n    timerequested: Number(command.timerequested || now)\n};\n\nif (!authUser) {\n    node.warn('Update module flow requires authenticated dashboard context');\n    return [null, null];\n}\n\nconst isAdmin = authUser.role === 'admin' || authUser.username === 'chargerent';\nif (!isAdmin && authUser.commands?.updates !== true) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Permission denied')];\n}\n\nif (!stationid || !moduleid) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, 'Missing stationid or moduleid')];\n}\n\nconst kiosk = msg.kioskDoc || null;\nif (!kiosk) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, `Kiosk ${stationid} not found`)];\n}\n\nconst hardwareType = String(kiosk?.hardware?.type || '').toUpperCase();\nconst isV2 = kiosk?.isNewSchema === true || V2_TYPES.has(hardwareType);\nif (!isV2) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, `${stationid} is not a V2 kiosk`)];\n}\n\nconst modules = Array.isArray(kiosk?.modules) ? kiosk.modules : [];\nconst targetModule = modules.find((module) => modulesMatch(module?.id, moduleid));\nif (!targetModule) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, `Module ${moduleid} is not bound to ${stationid}`)];\n}\n\nconst lastUpdated = parseTimestamp(targetModule?.lastUpdated || kiosk?.lastUpdated || kiosk?.timestamp);\nif (!lastUpdated || (now - lastUpdated.getTime()) > ONLINE_WINDOW_MS) {\n    return [null, buildResponse(sessionValue, normalizedCommand, 0, `Module ${targetModule.id} is offline`)];\n}\n\nconst publishMessage = {\n    topic: `/${stationid}/${targetModule.id}/user/get`,\n    payload: JSON.stringify({ cmd: 'push_version_publish' }),\n    qos: '0',\n    retain: 'false'\n};\n\nconst responseMessage = buildResponse(\n    sessionValue,\n    { ...normalizedCommand, moduleid: targetModule.id },\n    1,\n    `Module update requested for ${targetModule.id}`\n);\n\nnode.warn(`Dashboard requested module update ${normalizedCommand.requestId} for ${stationid}/${targetModule.id} (session ${sessionId || 'n/a'})`);\n\nreturn [publishMessage, responseMessage];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e72f25150775df9c",
        "type": "comment",
        "z": "63ce06fa66ef4534",
        "name": "Output 1 -> existing MQTT out publishing Besiter receive topics",
        "info": "",
        "x": 1640,
        "y": 140,
        "wires": []
    },
    {
        "id": "27e1d0e272ec2ad2",
        "type": "comment",
        "z": "63ce06fa66ef4534",
        "name": "Output 2 -> existing websocket response / dashboard reply path",
        "info": "",
        "x": 1620,
        "y": 180,
        "wires": []
    }
]
