scripts/v2-audio-command-flow.json
[
    {
        "id": "5cf3f233cf198ea1",
        "type": "tab",
        "label": "V2 Kiosk Audio",
        "disabled": false,
        "info": "Dashboard V2 audio control. Publishes Besiter volume commands to /<stationid>/<moduleid>/user/get for every module with payload {\"cmd\":\"volume\",\"data\":\"<0-100>\"}.",
        "env": []
    },
    {
        "id": "bbf955c48bc7ee42",
        "type": "comment",
        "z": "5cf3f233cf198ea1",
        "name": "V2 audio from dashboard command card",
        "info": "This flow listens to the existing authenticated dashboard V2 command link, resolves the kiosk/module from Firestore, publishes the Besiter volume command, persists hardware.volume/audio, and sends a dashboard toast. It expects dashboardapi-optimized.json's \"new kiosk cmd\" link out to include f02a67acb743f201.",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "f02a67acb743f201",
        "type": "link in",
        "z": "5cf3f233cf198ea1",
        "name": "V2 audio command in",
        "links": [
            "121936a8363204a0"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "d157d8f2ef1bf016"
            ]
        ]
    },
    {
        "id": "d157d8f2ef1bf016",
        "type": "switch",
        "z": "5cf3f233cf198ea1",
        "name": "Route set volume",
        "property": "command.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "set volume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "a29f63429acaaf72"
            ]
        ]
    },
    {
        "id": "a29f63429acaaf72",
        "type": "function",
        "z": "5cf3f233cf198ea1",
        "name": "Prepare V2 audio lookup",
        "func": "const command = msg.command || {};\nconst authUser = msg.payload && typeof msg.payload === 'object' && !Array.isArray(msg.payload)\n  ? JSON.parse(JSON.stringify(msg.payload))\n  : null;\nconst stationid = String(command.stationid || command.kiosk?.stationid || '').trim();\nconst now = Date.now();\nconst volume = Number(command.volume);\nconst requestId = String(command.requestId || `set-volume-${stationid || 'unknown'}-${now}`).trim();\n\nfunction response(status, statusEn, extra = {}) {\n  return {\n    _session: msg._session,\n    payload: {\n      action: 'set volume',\n      stationid,\n      kiosk: stationid,\n      status,\n      status_en: statusEn,\n      requestId,\n      timerequested: Number(command.timerequested || now),\n      timeresponded: Date.now(),\n      ...extra\n    }\n  };\n}\n\nif (!stationid) {\n  return [null, response(0, 'Missing stationid for V2 audio command')];\n}\n\nif (!Number.isFinite(volume) || volume < 0 || volume > 100) {\n  return [null, response(0, 'Volume must be between 0 and 100')];\n}\n\nmsg._v2Audio = {\n  authUser,\n  command: { ...command, requestId, volume: Math.round(volume) },\n  stationid,\n  requestId,\n  timerequested: Number(command.timerequested || now),\n  volume: Math.round(volume)\n};\nmsg.payload = {\n  path: 'kiosks',\n  query: [{ fieldPath: 'stationid', opStr: '==', value: stationid }]\n};\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "ca9f53145dbbcde0"
            ],
            [
                "590392fc03398acc"
            ]
        ]
    },
    {
        "id": "ca9f53145dbbcde0",
        "type": "google-cloud-firestore",
        "z": "5cf3f233cf198ea1",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Query kiosk for V2 audio",
        "projectId": "node-red-alerts",
        "mode": "query",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "e8eedaa132d84f8a"
            ]
        ]
    },
    {
        "id": "e8eedaa132d84f8a",
        "type": "function",
        "z": "5cf3f233cf198ea1",
        "name": "Publish Besiter volume",
        "func": "const V2_TYPES = new Set(['CT3', 'CT4', 'CT8', 'CT12', 'CK48']);\nconst docs = Array.isArray(msg.payload) ? msg.payload : [];\nconst ctx = msg._v2Audio || {};\nconst command = ctx.command || msg.command || {};\nconst authUser = ctx.authUser || null;\nconst stationid = String(ctx.stationid || command.stationid || '').trim();\nconst volume = Number(ctx.volume);\nconst requestId = String(ctx.requestId || command.requestId || `set-volume-${stationid}-${Date.now()}`).trim();\nconst timerequested = Number(ctx.timerequested || command.timerequested || Date.now());\nconst sessionValue = msg._session || command.admin || null;\n\nfunction buildResponse(status, statusEn, extra = {}) {\n  return {\n    _session: sessionValue,\n    payload: {\n      action: 'set volume',\n      stationid,\n      kiosk: stationid,\n      status,\n      status_en: statusEn,\n      volume,\n      muted: volume === 0,\n      requestId,\n      timerequested,\n      timeresponded: Date.now(),\n      ...extra\n    }\n  };\n}\n\nfunction toModules(kiosk) {\n  if (Array.isArray(kiosk?.modules)) return kiosk.modules;\n  if (kiosk?.modules && typeof kiosk.modules === 'object') return Object.values(kiosk.modules);\n  return [];\n}\n\nfunction getModuleIds(kiosk) {\n  const seen = new Set();\n  return toModules(kiosk)\n    .map((module) => String(module?.id || '').trim())\n    .filter((moduleid) => {\n      if (!moduleid || seen.has(moduleid)) return false;\n      seen.add(moduleid);\n      return true;\n    });\n}\n\nif (!authUser) {\n  return [null, buildResponse(0, 'V2 audio command requires authenticated dashboard context'), null];\n}\n\nconst isAdmin = authUser.role === 'admin' || authUser.username === 'chargerent';\nif (!isAdmin && authUser.commands?.audio !== true) {\n  return [null, buildResponse(0, 'Permission denied'), null];\n}\n\nif (docs.length === 0) {\n  return [null, buildResponse(0, `Kiosk ${stationid} not found`), null];\n}\n\nconst kiosk = docs[0] || {};\nconst hardwareType = String(kiosk?.hardware?.type || '').toUpperCase();\nconst modules = toModules(kiosk);\nconst moduleids = getModuleIds(kiosk);\nconst isV2 = kiosk?.isNewSchema === true || V2_TYPES.has(hardwareType) || modules.some((module) => Array.isArray(module?.slots));\nif (!isV2) {\n  return [null, buildResponse(0, `${stationid} is not a V2 kiosk`), null];\n}\n\nif (!Number.isFinite(volume) || volume < 0 || volume > 100) {\n  return [null, buildResponse(0, 'Volume must be between 0 and 100'), null];\n}\n\nif (moduleids.length === 0) {\n  return [null, buildResponse(0, `No modules found for ${stationid}`), null];\n}\n\nconst roundedVolume = Math.round(volume);\nconst publishMessages = moduleids.map((moduleid) => ({\n  topic: `/${stationid}/${moduleid}/user/get`,\n  payload: {\n    cmd: 'volume',\n    data: String(roundedVolume)\n  },\n  qos: '0',\n  retain: 'false'\n}));\n\nconst responseMessage = buildResponse(\n  1,\n  `Volume set to ${roundedVolume}% on ${stationid} (${moduleids.length} modules)`,\n  { moduleids, moduleCount: moduleids.length }\n);\nconst provisionid = String(kiosk?.provisionid || '').trim();\nconst firestoreMessage = provisionid\n  ? {\n      payload: {\n        path: `kiosks/${provisionid}`,\n        content: {\n          hardware: {\n            ...(kiosk.hardware || {}),\n            volume: roundedVolume,\n            audio: roundedVolume === 0 ? 'off' : 'on'\n          },\n          updatedAt: new Date().toISOString()\n        }\n      }\n    }\n  : null;\n\nnode.warn(`Dashboard set volume ${roundedVolume} for ${stationid} modules [${moduleids.join(', ')}] request ${requestId}`);\nreturn [publishMessages, responseMessage, firestoreMessage];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "df8fb88dfe86c3d3"
            ],
            [
                "590392fc03398acc"
            ],
            [
                "ea8d38968488d2f9"
            ]
        ]
    },
    {
        "id": "df8fb88dfe86c3d3",
        "type": "mqtt out",
        "z": "5cf3f233cf198ea1",
        "name": "Publish volume",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "49a917a3f001a2dc",
        "x": 1260,
        "y": 120,
        "wires": []
    },
    {
        "id": "ea8d38968488d2f9",
        "type": "google-cloud-firestore",
        "z": "5cf3f233cf198ea1",
        "account": "",
        "keyFilename": "/home/george/firestore/firestore-key.json",
        "name": "Persist audio state",
        "projectId": "node-red-alerts",
        "mode": "update",
        "x": 1270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "dc6f8c5300b42d7f",
        "type": "comment",
        "z": "5cf3f233cf198ea1",
        "name": "Response wires target the existing dashboard websocket response node",
        "info": "The dangling target id 590392fc03398acc is the same dashboard response path used by the V2 bulk command import. If your Node-RED workspace uses a different response node, wire the two response outputs there.",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "49a917a3f001a2dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://34.56.244.66/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
